extends ../../../base/required-materials-content
block stylesheet
  link(rel="stylesheet", type="text/css", href="https://d2l.pima.edu/shared/webdev/course-files/css/themes/art/styles.css")
block moreScripts
  script(type="text/javascript", src="https://d2l.pima.edu/shared/webdev/course-files/plugins/floating-particles/floating-particles.js")