@import "../../routes.css";
/* THEME: FASHIONISTA v1.1.0 */

html {
  font-size: 18px;
}

body {
  background-color: rgba(51, 51, 51, .03);
  border-top: 3px solid rgba(51, 51, 51, 1);
  font-family: 'Lato', sans-serif;
}

// TYPOGRAPHY
h1, h2, h3, h4, h5, h6 {
  color: rgba(51, 51, 51, 1);
  font-family: 'Prata', serif;
}

h2, h3, h4, h5 {
  font-weight: 300;
}

h2::first-letter, 
.header .text-container p::first-letter {
  text-decoration: overline;
}

p {
  font-size: 1.05em;
  line-height: 1.2;
}

.header .text-container {
  h1, 
  h2, 
  h3, 
  h4, 
  p {
    color: rgba(255, 255, 255, 1);
    column-count: 1;
    text-align: left;
  }  
}

// HEADER
.header {
  margin-bottom: 50px;
  max-width: 998px;

  img {
    border-bottom: 3px solid rgba(0, 0, 0, 1);
    max-width: 300px;
  }

  .text-container {
    background-color: rgba(0, 0, 0, .755);
    margin-top: -15%;
    max-width: 838px;
    padding: 5px;
    position: relative;
  } 

  .text-container-title {
    margin-bottom: 10px;
    max-width: 800px;
    padding: 0 5px;
  } 
  
  .text-container-body {
    border-bottom: 3px solid rgba(51, 51, 51, 1);
    margin-left: 50px;
    max-width: 600px;
  }   
}

@media screen and (min-width: 998px) {
  .header {
    .text-container {
      left: auto;
      margin-left: 150px;
      margin-top: -20%;
      position: absolute;
      top: auto;
      transform: none;
    }    
  }
}

// CONTENT BODY
.content-body, 
.sidebar, 
#footer, 
#main footer {
  background-color: rgba(255, 255, 255, 1);
  border-bottom: none;
  border-top: 2px solid rgba(0, 0, 0, .08);
  margin-bottom: 30px;
}

.sidebar {
  border-left: 1px solid rgba(51, 51, 51, .1);

  .sidebar-item {
    background-color: white;
  }  
}

blockquote {
  background: rgba(255, 255, 255, 1);
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='rgba(51,51,51,1)' fill-opacity='0.1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  margin: 40px 0;
  padding: 20px;
  position: relative;

  &::before {
    content: '\201c';
    color: rgba(51, 51, 51, .8);
    font-family: inheret;
    font-size: 3em;
    margin-top: 0px;
    left: 50%;
    line-height: 1.35;
    position: absolute;
  }  

  &::after {
    content: '\201d';
    color: rgba(51, 51, 51, .8);
    font-family: inheret;
    font-size: 3em;
    line-height: 1.35;
    left: 50%;
    margin-bottom: -25px;
    position: absolute;
  }  
}

.border {
  background-color: rgba(51, 51, 51, .855);
  border: none;
  border-top: 3px solid rgba(0, 0, 0, 1);
}

.border p, 
p.border {
  color: rgba(255, 255, 255, 1);
}

figcaption {
  background-color: rgba(0, 0, 0, .7);
  color: rgba(255, 255, 255, 1);
  margin: auto;
  margin-top: -15px;
  max-width: 90%;
  padding: 5px;
  position: relative;

  a:link {
    color: rgba(255, 255, 255, 1);
  }  
}

button {
  background-color: rgba(46, 94, 142, 1);
  border: none;
  color: white;

  &:hover {
    background-color: rgba(28, 57, 87, 1);
  }  
}

ul li {
  &::before {
    color: rgba(51, 51, 51, .5);
  }
}

// TABLES
table {
  caption {
    color: rgba(51, 51, 51, 1);
  }  

  &.display-lg {
    width: 100%!important;
  } 
 
  th {
    background-color: rgba(51, 51, 51, 1);
    color: rgba(255, 255, 255, 1);
  }  
}


@media screen and (max-width:768px) { 
  table.display-lg tbody tr td:first-child {
    background: rgba(51, 51, 51, 1);
    color: #ffffff;
  }
}

#footer > p {
  color: rgba(0, 91, 226, 1);
}

.footnotes {
  border-top: none;
}

/* test only */
.side-by-side {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0 20px 0;

  .side-by-side-item {
    flex-basis: 100%;
    margin: 10px 0;
    padding: 0;

    figure {
      margin: 0;
    }    
  }  
}

@media screen and (min-width:730px) {
  blockquote {
    margin: 40px 0;
    padding: 40px;
    position: relative;

    &::before {
      font-size: 3em;
      left: 50%;
      margin-top: 0;
    } 
    
    &::after {
      font-size: 3em;
      left: 50%;
      margin-bottom: -25px;
    }    
  }

  .side-by-side-item {
    flex-basis: 49%;
    margin: 20px 0;
    padding: 3px;
  }
}