footer
  #footer
    p.text-center.toggle-footnotes [Show Footnotes]
    .footnotes
      p Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.
      ul
        li Lorem culim ghus.
        li Ipsum guar havana.
        li Doloret kava chec.