header.header
  img(src="https://via.placeholder.com/1920X600" alt="decorative image of a woman's hand typing on a computer")
  .text-container
    h1 Course Intro
    p Donec sollicitudin molestie malesuada. Nulla porttitor accumsan tincidunt. Proin eget tortor risus. Pellentesque in ipsum id orci porta.