.content-body
  h4.icon-image Image
  figure
    img(src="https://via.placeholder.com/800x800" alt="")
.content-body
  h4.icon-pencil Quick Vocabulary
  dl
    dt Feathers:
    dd Covers a penguin's body and keeps them dry.
    dt Incubate:
    dd Grow under conditions that promote development.
    dt Huddle:
    dd A disorganized and densely packed crowd.
    dt Waddle:
    dd A penguin's walk swaying from side to side.
.content-body
  div.border.border-yellow
    h4 Did you know?!
    p The Galapagos Penguin is the only penguin species that ventures north of the equator in the wild.