doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="https://fonts.googleapis.com/css?family=Lato:400,700|Lora:400,700&display=swap", rel="stylesheet")
    block stylesheet
      link(rel="stylesheet", type="text/css", href="")
    link(rel="stylesheet", type="text/css", href="css/custom.css")
    title Alignment of Activities with Course Outcomes
  body
    include ../_includes/header
    #content-wrapper
      .content-body
        h2.icon-chalkboard-teacher Overview
        p The charts below illustrate how the assignments and assessments in this course align with and fulfill the Course Learning Outcomes and the Module Learning Objectives.
        h3.font-size-h4 Course Learning Outcomes:
        ol
          li Oblique honestatis definitiones jhum trea. Id sea viris utinam ancillae, ea vel persius facilis electram, vidisse habemus euripidis dus an. Qui id brute consul fuisset, lex fierent pertinax duo.
          li Oblique honestatis definitiones jhum trea. Id sea viris utinam ancillae, ea vel persius facilis electram, vidisse habemus euripidis dus an. Qui id brute consul fuisset, lex fierent pertinax duo.
          li Oblique honestatis definitiones jhum trea. Id sea viris utinam ancillae, ea vel persius facilis electram, vidisse habemus euripidis dus an. Qui id brute consul fuisset, lex fierent pertinax duo.
      .content-body
        h2.icon-chalkboard-teacher Module 1: Nulla Mundi Sedh Eatr
        h3.font-size-h4 Module 1 Objectives:
        ol
          li Lorem ipsum dolor sit amet vel epicuri doremsu.
          li Lorem ipsum dolor sit amet vel epicuri doremsu.
          li Lorem ipsum dolor sit amet vel epicuri doremsu.
          li Lorem ipsum dolor sit amet vel epicuri doremsu.
        table.display-lg
          thead
            tr
              th Grade-able Activity
              th Course Learning Outcome(s)
              th Module Objective(s)
          tbody
            tr
              td Module 1 Lorem ipsum
              td --
              td --
            tr
              td Module 1 Lorem ipsum
              td --
              td --
            tr
              td Module 1 Lorem ipsum
              td --
              td --
      .content-body
        h2.icon-chalkboard-teacher Module 2: Nulla Mundi Sedh Eatr
        h3.font-size-h4 Module 2 Objectives:
        ol
          li Lorem ipsum dolor sit amet vel epicuri doremsu.
          li Lorem ipsum dolor sit amet vel epicuri doremsu.
          li Lorem ipsum dolor sit amet vel epicuri doremsu.
          li Lorem ipsum dolor sit amet vel epicuri doremsu.
        table.display-lg
          thead
            tr
              th Grade-able Activity
              th Course Learning Outcome(s)
              th Module Objective(s)
          tbody
            tr
              td Module 2 Lorem ipsum
              td --
              td --
            tr
              td Module 2 Lorem ipsum
              td --
              td --
            tr
              td Module 2 Lorem ipsum
              td --
              td --
      .content-body
        h2.icon-chalkboard-teacher Module 3: Nulla Mundi Sedh Eatr
        h3.font-size-h4 Module 3 Objectives:
        ol
          li Lorem ipsum dolor sit amet vel epicuri doremsu.
          li Lorem ipsum dolor sit amet vel epicuri doremsu.
          li Lorem ipsum dolor sit amet vel epicuri doremsu.
          li Lorem ipsum dolor sit amet vel epicuri doremsu.
        table.display-lg
          thead
            tr
              th Grade-able Activity
              th Course Learning Outcome(s)
              th Module Objective(s)
          tbody
            tr
              td Module 3 Lorem ipsum
              td --
              td --
            tr
              td Module 3 Lorem ipsum
              td --
              td --
            tr
              td Module 3 Lorem ipsum
              td --
              td --
      .content-body
        h2.icon-chalkboard-teacher Module 4: Nulla Mundi Sedh Eatr
        h3.font-size-h4 Module 4 Objectives:
        ol
          li Lorem ipsum dolor sit amet vel epicuri doremsu.
          li Lorem ipsum dolor sit amet vel epicuri doremsu.
          li Lorem ipsum dolor sit amet vel epicuri doremsu.
          li Lorem ipsum dolor sit amet vel epicuri doremsu.
        table.display-lg
          thead
            tr
              th Grade-able Activity
              th Course Learning Outcome(s)
              th Module Objective(s)
          tbody
            tr
              td Module 4 Lorem ipsum
              td --
              td --
            tr
              td Module 4 Lorem ipsum
              td --
              td --
      .content-body
        h2.icon-chalkboard-teacher Module 5: Nulla Mundi Sedh Eatr
        h3.font-size-h4 Module 5 Objectives:
        ol
          li Lorem ipsum dolor sit amet vel epicuri doremsu.
          li Lorem ipsum dolor sit amet vel epicuri doremsu.
          li Lorem ipsum dolor sit amet vel epicuri doremsu.
          li Lorem ipsum dolor sit amet vel epicuri doremsu.
        table.display-lg
          thead
            tr
              th Grade-able Activity
              th Course Learning Outcome(s)
              th Module Objective(s)
          tbody
            tr
              td Module 5 Lab A: Antacid Analysis and Titration
              td 3
              td <span>1</span>
            tr
              td Module 5 Lorem ipsum
              td --
              td --
            tr
              td Module 5 Lorem ipsum
              td --
              td --
      .content-body
        h2.icon-chalkboard-teacher Module 6: Nulla Mundi Sedh Eatr
        h3.font-size-h4 Module 6 Objectives:
        ol
          li Lorem ipsum dolor sit amet vel epicuri doremsu.
          li Lorem ipsum dolor sit amet vel epicuri doremsu.
          li Lorem ipsum dolor sit amet vel epicuri doremsu.
          li Lorem ipsum dolor sit amet vel epicuri doremsu.
        table.display-lg
          thead
            tr
              th Grade-able Activity
              th Course Learning Outcome(s)
              th Module Objective(s)
          tbody
            tr
              td Module 6 Lorem ipsum
              td --
              td --
            tr
              td Module 6 Lorem ipsum
              td --
              td --
            tr
              td Module 6 Lorem ipsum
              td --
              td --
      .content-body
        h2.icon-chalkboard-teacher Module 7: Nulla Mundi Sedh Eatr
        h3.font-size-h4 Module 7 Objectives:
        ol
          li Lorem ipsum dolor sit amet vel epicuri doremsu.
          li Lorem ipsum dolor sit amet vel epicuri doremsu.
          li Lorem ipsum dolor sit amet vel epicuri doremsu.
          li Lorem ipsum dolor sit amet vel epicuri doremsu.
        table.display-lg
          thead
            tr
              th Grade-able Activity
              th Course Learning Outcome(s)
              th Module Objective(s)
          tbody
            tr
              td Module 7 Lorem ipsum
              td --
              td --
            tr
              td Module 7 Lorem ipsum
              td --
              td --
      .content-body
        h2.icon-chalkboard-teacher Module 8: Nulla Mundi Sedh Eatr
        h3.font-size-h4 Module 8 Objectives:
        ol
          li Lorem ipsum dolor sit amet vel epicuri doremsu.
          li Lorem ipsum dolor sit amet vel epicuri doremsu.
          li Lorem ipsum dolor sit amet vel epicuri doremsu.
          li Lorem ipsum dolor sit amet vel epicuri doremsu.
        table.display-lg
          thead
            tr
              th Grade-able Activity
              th Course Learning Outcome(s)
              th Module Objective(s)
          tbody
            tr
              td Module 8 Lorem ipsum
              td --
              td --
            tr
              td Module 8 Lorem ipsum
              td --
              td --
            tr
              td Module 8 Lorem ipsum
              td --
              td --
      .content-body
        h2.icon-chalkboard-teacher Module 9: Nulla Mundi Sedh Eatr
        h3.font-size-h4 Module 9 Objectives:
        ol
          li Lorem ipsum dolor sit amet vel epicuri doremsu.
          li Lorem ipsum dolor sit amet vel epicuri doremsu.
          li Lorem ipsum dolor sit amet vel epicuri doremsu.
          li Lorem ipsum dolor sit amet vel epicuri doremsu.
        table.display-lg
          thead
            tr
              th Grade-able Activity
              th Course Learning Outcome(s)
              th Module Objective(s)
          tbody
            tr
              td Module 9 Lorem ipsum
              td --
              td --
            tr
              td Module 9 Lorem ipsum
              td --
              td --
            tr
              td Module 9 Lorem ipsum
              td --
              td --
      .content-body
        h2.icon-chalkboard-teacher Final Exam
        table.display-lg
          thead
            tr
              th Grade-able Activity
              th Course Learning Outcome(s)
              th Module Objective(s)
          tbody
            tr
              td Final Exam
              td --
              td --
    include ../_includes/footer
    include ../_includes/scripts