doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="https://fonts.googleapis.com/css?family=Lato:400,700|Lora:400,700&display=swap", rel="stylesheet")
    block stylesheet
      link(rel="stylesheet", type="text/css", href="")
    link(rel="stylesheet", type="text/css", href="css/custom.css")
    title Course Intro
  body
    include ../_includes/header
    #content-wrapper
      block first-column
        include ../_includes/first-col-content
    include ../_includes/footer
    include ../_includes/scripts