doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="https://fonts.googleapis.com/css?family=Lato:400,700|Lora:400,700&display=swap", rel="stylesheet")
    block stylesheet
      link(rel="stylesheet", type="text/css", href="")
    link(rel="stylesheet", type="text/css", href="css/custom.css")
    title Instructor Bio and Contact Policy
  body
    include ../_includes/header
    #content-wrapper
      .content-body
        h2.no-margin Lorem Ipsum
        p.no-margin Adjunct Professor
        p Digital Film and Video
        h3 Biography
        p Please replace this with a professional and approachable self-introduction to help your students get to know you. In addition to your name, title, contact information, and photo or other visual representation, please include your field of expertise as well as how you would prefer to be addressed (formally or informally &amp; your pronouns i.e Dr. Sovak He/Him). Additional best practices include adding a summary of your experience teaching online, teaching philosophy, and some personal information to help your students form a connection (i.e pets, hobbies, family travel, experience life goals Etc).
        h3 Contact Policy
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vivamus suscipit tortor eget felis porttitor volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in ipsum id orci porta dapibus. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Sed porttitor lectus nibh. Donec rutrum congue leo eget malesuada. Donec rutrum congue leo eget malesuada.
        h3 Email
        p Pellentesque in ipsum id orci porta dapibus. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Sed porttitor lectus nibh. Donec rutrum congue leo eget malesuada. Donec rutrum congue leo eget malesuada.
        h3 Phone
        p Quisque velit nisi, pretium ut lacinia in, elementum id enim. Sed porttitor lectus nibh. Donec rutrum congue leo eget malesuada. Donec rutrum congue leo eget malesuada.
    #second-column
    .content-body
      img(src="https://via.placeholder.com/400x400" alt="")
    .content-body
      h2.font-size-h4.no-margin Contact
      table.two-column-table
        tbody
          tr
            td(width="56" class="icon-mail-muted") Email
            td(width="122")
              a(href="mailto:email@pima.edu" target="_blank") Email@pima.edu
          tr
            td(class="icon-phone-muted") Phone
            td
              a(href="#") N/A
          tr
            td(class="icon-map-muted") Location
            td PimaOnline
    .content-body
      h2.font-size-h4.no-margin Office Hours
      table.two-column-table
        tbody
          tr
            td(class="icon-clock-muted") Time
            td Virtual Hours TBA 10:00AM - 12:00PM MST
          tr
            td(class="icon-map-muted") Location
            td Brightspace D2L
    include ../_includes/footer
    include ../_includes/scripts