doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="https://fonts.googleapis.com/css?family=Lato:400,700|Lora:400,700&display=swap", rel="stylesheet")
    block stylesheet
      link(rel="stylesheet", type="text/css", href="")
    link(rel="stylesheet", type="text/css", href="css/custom.css")
    title Required Materials
  body
    include ../_includes/header
    #content-wrapper
      .content-body
        h2.icon-book.no-margin Required Materials &amp; Textbooks
        .card-horizontal
          .card-body
            h3 American Cinema/American Culture, 5th Edition
            table.two-column-table
              tbody
                tr
                  td Author
                  td John  Belton
                tr
                  td Edition
                  td 5th
                tr
                  td Published
                  td 2017
                tr
                  td ISBN
                  td 978-0073514291
                tr
                  td Publisher
                  td McGraw-Hill
                tr  
                  td Description
                  td American Cinema/American Culture, 5th Edition, looks at the interplay between American cinema and mass culture from the 1890s to 2017
                tr
                  td Where To Get This
                  td 
                    ul
                      li
                        a(href="#" class="ext" target="_blank") Amazon $-- 
                          span.label.label-default New
                      li
                        a(href="#" class="ext" target="_blank") PCC Bookstore $--
                        span.label.label-default New
          figure
            figcaption
              img(src="https://via.placeholder.com/1200x1500" alt="")
      .content-body
        h3 Other Required Materials
        p Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Proin eget tortor risus. Nulla quis lorem ut libero malesuada feugiat. Nulla porttitor accumsan tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor lectus nibh. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Pellentesque in ipsum id orci porta dapibus. Curabitur aliquet quam id dui posuere blandit.
        h3 Lorem Ipsum
        ul
          li Vivamus suscipit tortor eget felis porttitor volutpat.
          li Vivamus suscipit tortor eget felis porttitor volutpat.
          li Vivamus suscipit tortor eget felis porttitor volutpat.
    include ../_includes/footer
    include ../_includes/scripts