doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="https://fonts.googleapis.com/css?family=Lato:400,700|Lora:400,700&display=swap", rel="stylesheet")
    block stylesheet
      link(rel="stylesheet", type="text/css", href="")
    link(rel="stylesheet", type="text/css", href="css/custom.css")
    title Schedule of Work
  body
    include ../_includes/header
    #content-wrapper
      .content-body
        h2 Module 1: Lorem Ipsum
        table.display-lg
          thead
            tr
              th(scope="col") Assignment
              th(scope="col") Points
              th(scope="col") Due Date
          tbody
            tr
              td Assignment 1
              td --
              td [Insert Due Date]
            tr
              td Assignment 2
              td --
              td [Insert Due Date]
            tr
              td Assignment 3
              td --
              td [Insert Due Date]
            tr
              td Assignment 4
              td --
              td [Insert Due Date]
        h2 Module 2: Lorem Ipsum
        table.display-lg
          thead
            tr
              th(scope="col") Assignment
              th(scope="col") Points
              th(scope="col") Due Date
          tbody
            tr
              td Assignment 1
              td --
              td [Insert Due Date]
            tr
              td Assignment 2
              td --
              td [Insert Due Date]
            tr
              td Assignment 3
              td --
              td [Insert Due Date]
            tr
              td Assignment 4
              td --
              td [Insert Due Date]
        h2 Module 3: Lorem Ipsum
        table.display-lg
          thead
            tr
              th(scope="col") Assignment
              th(scope="col") Points
              th(scope="col") Due Date
          tbody
            tr
              td Assignment 1
              td --
              td [Insert Due Date]
            tr
              td Assignment 2
              td --
              td [Insert Due Date]
            tr
              td Assignment 3
              td --
              td [Insert Due Date]
            tr
              td Assignment 4
              td --
              td [Insert Due Date]
        h2 Total Requirements
        table.display-lg
          thead
            tr
              th(scope="col") Graded Work
              th(scope="col") Quantity
              th(scope="col") Points Each
              th(scope="col") Total
          tbody
            tr
              td Quizzes
              td --
              td --
              td --
            tr
              td Discussions
              td --
              td --
              td --
            tr
              td Video Assignments
              td --
              td --
              td --
            tr
              td Final Exam
              td --
              td --
              td --
        h2 Grade Determination
        table.display-lg
          thead
            tr
              th(scope="col") Letter Grade
              th(scope="col") Percentage
              th(scope="col") Total Points
          tbody
            tr
              td A
              td 90.00% and above
              td --
            tr
              td B
              td 80.00 - 89.99%
              td --
            tr
              td C
              td 70.00 - 79.99%
              td --
            tr
              td D
              td 60.00 - 69.99%
              td --
            tr
              td F
              td 59% and below
              td --
    include ../_includes/footer
    include ../_includes/scripts