doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="https://fonts.googleapis.com/css?family=Lato:400,700|Lora:400,700&display=swap", rel="stylesheet")
    block stylesheet
      link(rel="stylesheet", type="text/css", href="")
    link(rel="stylesheet", type="text/css", href="css/custom.css")
    title Syllabus
  body
    include ../_includes/header
    #content-wrapper
      .content-body.syllabus-header
        img(src="https://d2l.pima.edu/shared/images/pcc_logo_black.png" alt="Pima Community College Logo")
        h1 Course Syllabus
        h2 Course Prefix/Number and Title
        dl 
          dt Credits:
          dd xxxx
          dt CRN/Term:
          dd xxxx
          dt Crosslisted:
          dd xxxx Course Number/CRN (if any)
      .content-body
        dl 
          dt Course Start Date:
          dd replace this text
          dt Course End Date:
          dd replace this text
          dt Course Delivery/Modality:
          dd
            span.edit Online or Hybrid
        .border#top
          h2 Syllabus Contents
          ul
            li
              a(href="#instructor" onclick="jumpTo('instructor')") Instructor Information
            li
              a(href="#course" onclick="jumpTo('course')") Course Information
            li
              a(href="#slo" onclick="jumpTo('slo')") Learning Outcomes
            li
              a(href="#policies" onclick="jumpTo('policies')") Grade and Instructor Policies
            li
              a(href="#attendance" onclick="jumpTo('attendance')") Attendance
            li
              a(href="#dates" onclick="jumpTo('dates')") Key Dates and Deadlines
            li
              a(href="#resources" onclick="jumpTo('resources')") Student Resources and Policies
      .content-body
        h2#instructor Instructor Information
        a(href="#top" onclick="jumpTo('top')") Return to top
        dl 
          dt Instructor Name:
          dd replace this text
          dt Instructor Phone:
          dd replace this text
          dt Instructor Email:
          dd replace this text
          dt Instructor Website:
          dd (optional) replace this text
          dt Office Location/Hours:
          dd
          span.edit If you do not hold specific office hours be sure to describe the best way to contact, you.
      .content-body
        h2#course Course Information
        a(href="#top" onclick="jumpTo('top')") Return to top
        dl 
          dt Course Description:
          dd replace this text
          dt Prerequisite(s):
          dd replace this text
          dt Corequisite(s):
          dd replace this text
          dt Recommendation:
          dd replace this text
          dt Information
          dd 
            p.edit Always verify your course information is current and accurate.
            p.edit Course content forms/outlines are posted on PCC's webpage:
              a.ext(href="https://www.pima.edu/academics-programs/courses" target="_blank") PCC's webpage
          dt Expectation of coursework hours:
          dd
            span.edit See time on task for hours for your course, select what applies to your course and paste here.
              a.ext(href="https://docs.google.com/document/d/1kEisEmR9L01j2Ac66oGNRZjZLy3WhTDXRTRCrVuuAkY/edit?usp=sharing" target="_blank") PimaOnline Time on Task Chart 
          dt Course Technology:
          dd
            span.edit Please describe what technology is used in the course, for example D2L for access to grades, additional software, or web-based resources
          dt Required Textbook:
          dd
            span.edit Please be clear which textbook &amp; materials are required, recommended or optional. Provide other options as appropriate including alternative vendors
          dt Other Required Materials:
          dd replace this text
          dt Optional/Recommended Materials:
          dd replace this text
        p Visit
          a(href=" https://community.brightspace.com/support/s/" target="_blank" class="ext") D2L Brightspace Help
      .content-body
        h2#slo Student Learning Outcomes
        a(href="#top" onclick="jumpTo('top')") Return to top
        dl 
          dt Course Learning Outcomes:
          dd replace this text
          dt Module Learning Objectives:
          dd replace this text
          dt Performance Objectives:
          dd replace this text
          dt Program Learning Outcomes:
          dd replace this text
          dt General Education Learning Outcomes:
          dd replace this text
      .content-body
        h2#policies Grade and Instructor Policies
        a(href="#top" onclick="jumpTo('top')") Return to top
        dl 
          dt Use of D2L Brightspace:
          dd All grades for this course are posted in the D2L Brightspace Gradebook. Students may view their grades by signing into D2L Brightspace and accessing the course.
        .border
          h3 Grade Determination and Grading Policies
          p.edit Describe your grading policies here.
          p.edit Please Note for 22-23:   Some policies are subject to change in response to the Covid-19 pandemic, please ensure these reflect current practice.
            These were accurate in April 2021, please ensure these reflect current practice.
          p Withdrawal - Students must withdraw from the course by the withdrawal date in order to receive a "W". Students who remain enrolled in the course after the withdrawal date will receive the grade they earn. Instructors cannot issue a "W" as a final grade.
          p I—Incomplete (not included in GPA calculation) A record of 'Incomplete' as a grade will be made at the student's request and at the instructor's option. A student must have completed 70% of the course work and be passing the class for an incomplete to be considered by the instructor. This grade will negatively impact the student's completion rate. If no change of grade form is submitted within a year, the 'I' will be automatically changed to 'F.'
        .border
          h3 Late Work Policy
          dl 
            dt Course Schedule/Schedule of Work:
            dd
              span.edit This will vary. Some instructors include a complete outline, calendar, schedule of work, due dates and points. At a minimum, include total points available, grading scale, due dates. 
            p.edit Below are optional categories. You may have others. Include or delete as appropriate.
            dt Health and Safety/Lab Regulations:
            dd replace this text
            dt Field Trips:
            dd replace this text
            dt Online/Hybrid Computer Access:
            dd replace this text
            dt Clinical:
            dd replace this text
            dt Externship/Work-study:
            dd replace this text
            dt Instructor Policies:
            dd replace this text
            dt Responsiveness:
            dd Your instructor will respond to email and phone messages within 24-48 hours on business days, excluding weekends and holidays.
            dd.edit Additionally, your instructor will evaluate, grade, and return all student work within a maximum of 14 days of due date/submission/posting for 16-week courses; within a maximum of 12 days for 14-week courses; within a maximum of 7 days for 8-week courses; within a maximum of 5 days for 5-week courses.
            dt Other Policies Concerning Withdraw, Audit, Incompletes:
            dd replace this text
            dt Syllabus Receipt:
            dd replace this text
      .content-body
        h2#attendance Attendance Requirements/Active Participation
        a(href="#top" onclick="jumpTo('top')") Return to top
        p A failure to participate as required may result in loss of financial aid and failure in the class. For every credit hour of your classes you should plan to spend approximately two to three hours outside of class studying each week.
          a(href="https://www.pima.edu/academics-programs/degrees-certificates/attendance" target="_blank" class="ext") Attendance requirements.
        dl 
          dt Course-specific attendance and participation:
          dd
            span.edit Participation is expected through the course end date. Please note, students must be engaged in class from start to end date. It is the expectation that Faculty will convene classes through the last scheduled date.
      .content-body
        h2 Science Safety Statements
        p.edit The below sections should be included in the course syllabus for the required courses listed below. IF this course is not an associated course please remove.
        h3 Standard Science Safety Statement
        p.edit All CHM courses except CHM 080 | BIO - 100IN, 112IN, 127IN, 135IN, 156IN, 160IN, 181IN, 182IN, 184IN, 201IN, 202IN, 205IN, 295LB | ENG - 102IN, FSN 127IN | GLG - 101IN, 102IN
        p Although laboratory experiments in this course have been designed to minimize unnecessary exposure to hazardous chemicals and/or microorganisms, students will be working with substances that may present chemical and/or biological hazards.  It may be advisable for students with certain medical conditions, including but not limited to pregnancy, to further minimize or eliminate such potential exposures.  If you have such a medical condition, and you are concerned about potential exposures, the College recommends that you ask your instructor for an electronic, non-inclusive list of chemicals and/or microorganisms and their associated Safety Data Sheet (SDS).  This list can be shared with your medical provider or physician for their recommendations.  The same list of chemicals and/or microorganisms is also posted in your classroom.  If you need or have questions about receiving accommodations to access course curriculum, contact the Access and Disability Resources (ADR) office at your campus or email adrhelp@pima.edu.
        h3 Standard Science Safety Statement
        p.edit All AST courses | BIO - 105IN, 108IN, 109, 115IN, 121IN, 183IN, CHM 080 | All remaining ENG courses except ENG 102IN | All GEO courses | GLG 110IN | All PHY courses
        p Although laboratory experiments in this course have been designed to minimize unnecessary exposure to hazardous chemicals and/or microorganisms, students may be working with substances that may present chemical and/or biological hazards.  It may be advisable for students with certain medical conditions, including but not limited to pregnancy, to further minimize or eliminate such potential exposures.  If you have such a medical condition, and you are concerned about potential exposures, the College recommends that you ask your instructor for an electronic, non-inclusive list of chemicals and/or microorganisms and their associated Safety Data Sheet (SDS).  This list can be shared with your medical provider or physician for their recommendations.  The same list of chemicals and/or microorganisms is also posted in your classroom.  If you need or have questions about receiving accommodations to access course curriculum, contact the Access and Disability Resources (ADR) office at your campus or email adrhelp@pima.edu.
      .content-body
        h2#dates Key Dates
        a(href="#top" onclick="jumpTo('top')") Return to top
        p.edit This paragraph refers students to PCC's key dates posted online. Instructors may include this text or may opt to provide specific dates within the syllabus.
        p.edit If you provide dates, be sure they are accurate and remember that these vary for nontraditional semesters.
        p For class add, drop, and withdrawal dates, go to the "My Schedule" section of MyPima, found on the Students &gt; Academics MyPima page. Additional semester
          a(href="http://www.pima.edu/keydates" target="_blank" class="ext") Key Dates and Deadlines are on the Calendar link at the top of PCC webpages.
      .content-body
        h2 Externally Accredited Program Information
        p.edit Applicable ONLY to programs with professional accreditation, otherwise delete.
        dl 
          dt Accredited Program Information:
          dd replace this text
          dt Accredited Program Objectives/Competencies:
          dd replace this text
          dt Accredited Program-Specific Policies:
          dd replace this text
      .content-body
        h2#resources Student Resources and Policies
        a(href="#top" onclick="jumpTo('top')") Return to top
        dl 
          dt Student resources:
          dd tutoring, libraries, computer commons, advising, code of conduct, complaint process.
            a(href="https://www.pima.edu/student-resources/index.html" target="_blank" class="ext") Student resources
          dt Student policies:
          dd plagiarism, use of copyright materials, financial aid benefits, ADA information, FERPA, and mandatory reporting laws at:
            a(href="http://www.pima.edu/syllabusresources" target="_blank" class="ext") Policies
          dt Concerns:
          dd Please try to resolve any class issue with your instructor first. You should contact the supervisor if your instructor is unable to resolve your issue to your satisfaction in a timely manner.
          dt Department Head/Supervisor/Director/Dean Contact Information:
          dd email.
          dt PimaConnect Student Network:
          dd We care about your success! The College has created individual student success networks in PimaConnect. The network is designed to promote student success through coordination and communication with instructors, student affairs professionals and students. To benefit from the success network concept, access the PimaConnect system, found in MyPima, under the Students – Academics tab. Please contact your Advisor or Counselor if you have any questions.
      .content-body
        h2 Access and Disability Resources (ADR)
        p Access and Disability Resources (ADR) can provide accommodations to students with qualifying medical/psychological conditions, disabilities, and pregnancy. For more
          a(href="https://www.pima.edu/student-resources/adr/index.html" target="_blank" class="ext") information on ADR:
    include ../_includes/footer
    include ../_includes/scripts