doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="https://fonts.googleapis.com/css?family=Lato:400,700|Lora:400,700&display=swap", rel="stylesheet")
    block stylesheet
      link(rel="stylesheet", type="text/css", href="")
    link(rel="stylesheet", type="text/css", href="css/custom.css")
    title Video Grid Layout
  body
    include ../_includes/header
    #content-wrapper
      .content-body
        p.video-card-header Intro for Videos Insert Here
      #video-widget
        .video-card
          h2 01
          .card-content
            p Intro Text to the video inserted here. Keep Text under 3 lines.
            .video-container
              iframe(width="560" height="315" src="https://www.youtube.com/embed/NpEaa2P7qZI" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
            a.btn(href="#" target="_blank" rel="nonopener") Watch Now
        .video-card
          h2 02
          .card-content
            p Intro Text to the video inserted here. Keep Text under 3 lines.
            .video-container
              iframe(width="560" height="315" src="https://www.youtube.com/embed/NpEaa2P7qZI" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
            a.btn(href="#" target="_blank" rel="nonopener") Watch Now
        .video-card
          h2 03
          .card-content
            p Intro Text to the video inserted here. Keep Text under 3 lines.
            .video-container
              iframe(width="560" height="315" src="https://www.youtube.com/embed/NpEaa2P7qZI" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
            a.btn(href="#" target="_blank" rel="nonopener") Watch Now 
        .video-card
          h2 04
          .card-content
            p Intro Text to the video inserted here. Keep Text under 3 lines.
            .video-container
              iframe(width="560" height="315" src="https://www.youtube.com/embed/NpEaa2P7qZI" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
            a.btn(href="#" target="_blank" rel="nonopener") Watch Now
        .video-card
          h2 05
          .card-content
            p Intro Text to the video inserted here. Keep Text under 3 lines.
            .video-container
              iframe(width="560" height="315" src="https://www.youtube.com/embed/NpEaa2P7qZI" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
            a.btn(href="#" target="_blank" rel="nonopener") Watch Now
        .video-card
          h2 06
          .card-content
            p Intro Text to the video inserted here. Keep Text under 3 lines.
            .video-container
              iframe(width="560" height="315" src="https://www.youtube.com/embed/NpEaa2P7qZI" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
            a.btn(href="#" target="_blank" rel="nonopener") Watch Now
    include ../_includes/footer
    include ../_includes/scripts