@use "../../variables";
@import "../../routes.css";
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500;600;700&display=swap');
//  CSS Document
// THEME: UNIVERSITY v2.1.2
// MAIN EDITS

:root {
  --color-secondary: rgba(255, 140, 26, 1);
}

body {
  background-color: rgba(4, 85, 148, .2);
  border-top: none;
}

#two-col-widget {
  grid-row-gap: 0px;
}

.header, .content-body, #footer, .footer-gallery {
  background-color: variables.$color-pcc-white;
  box-shadow: 0px 4px 4px 1px rgba(50, 50, 50, .3);
  border-top: none;
}

.header {
  margin: 10px auto 30px auto;

  img {
    border-bottom: none;
  }

  .text-container {
    background: variables.$color-pcc-primary;
    border-bottom: 5px solid var(--color-secondary);

    p {
      font-size: 1em;
      padding: 0px 25px;
    }
  }
}

@media screen and (min-width: 700px) {
  #two-column, #two-col-widget {
    grid-column-gap: 30px;
  }

  .header .text-container {
    background: variables.$color-pcc-primary;
    border-bottom: none;
    border-right: 5px solid var(--color-secondary);
    box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, .2);
    padding: 15px 0;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    width: 45%;
  }
}

.header .text-container h1, .header .text-container h2, .header .text-container h3, .header .text-container h4, .header .text-container p {
  color: variables.$color-pcc-white;
}

.content-body {
  margin-bottom: 20px;
}

// TYPOGRAPHY
h1, h2, h3, h4, h5, h6, dt {
  font-family: 'Rajdhani', sans-serif;
}

h3, h4, h5, h6 {
  color: variables.$color-pcc-primary;
}

h1 {
  font-size: 2.5em;
}

h2 {
  &[class^="icon"] {
    background-color: rgba(4, 85, 148, .5);
    border-bottom: none;
    color: variables.$color-pcc-white;
    font-size: 1.4em;
    margin: 30px -15px 20px -15px !important;
    padding-bottom: 15px;
    text-align: center;

    &:first-child {
      margin-top: -15px !important;
    }
  }

  &:not([class^="icon"]) {
    background-color: transparent;
    color: variables.$color-pcc-primary;
    font-size: 1.6em;
    margin: 0px !important;
    padding: 5px 0px;
    text-align: left;
  }

  &::before {
    background-color: variables.$color-pcc-primary;
    color: var(--color-secondary);
    display: block;
    height: auto;
    margin: -15px 0px 15px 0px;
    min-width: 100%;
    padding: 15px 0px;
    text-align: center;
    width: -webkit-fill-available;
    width: 100%;
  }
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-weight: 600;
  border-bottom: solid 2px var(--color-secondary);
  width: fit-content;
}

blockquote {
  font-family: 'Rajdhani', sans-serif;
  background-color: rgba(4, 85, 148, .05);

  &::before {
    color: variables.$color-pcc-primary;
    font-size: 1.2em;
    right: 93%;
    top: -20px;
  }

  &::after {
    color: variables.$color-pcc-primary;
    font-size: 1.2em;
    left: 93%;
    bottom: -20px;
  }
}

ul li:before {
  color: variables.$color-pcc-primary;
}

ul, ol {
  margin: 0 20px 10px 20px;
}

dt {
  color: variables.$color-pcc-primary;
  font-weight: 900;
}

#footer > p {
  color: variables.$color-pcc-primary;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 900;
  padding: 10px;
}

@media screen and (min-width: 500px) {
  blockquote::before {
    right: 96%;
    top: -15px;
  }

  blockquote::after {
    left: 96%;
    bottom: -15px;
  }
}

// IMAGERY
iframe {
  width: 100%;
}

figure {
  box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, .2);
  padding: 10px;

  img {
    margin: 0 auto !important;
    width: -webkit-fill-available;
  }

  figcaption {
    border-bottom: none;
    font-family: 'Rajdhani', sans-serif;
    font-style: normal;
    padding: 7px 0 5px 0
  }
}

#second-column figure, #column-widget figure {
  margin: 20px auto !important;
}

@media screen and (min-width:500px) {
  h2 {
    padding: 0px;
    text-align: left;
  }

  .content-body > h2[class^="icon"] {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    text-align: left;
  }

  h2[class^="icon"]:before {
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -10px 10px -10px -10px;
    padding: 15px;
    min-width: 50px;
    width: 2em;
  }
}

@media screen and (min-width: 780px) {
  h1 {
    font-size: 3.5em;
  }

  .header .text-container p {
    font-size: 1.25em;
  }
}

// BUTTONS
button {
  background-color: var(--color-secondary);
  border: none;
  color: variables.$color-pcc-primary;

  &:hover {
    background-color: rgba(224, 112, 0, 1);
  }
}

a.btn {
  background-color: var(--color-secondary);
  padding: 5px 12px;
  border-radius: 5px;
  box-shadow: 0 2px 1px rgba(164, 166, 173, 1);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: .7em;
  font-weight: bold;
  color: variables.$color-pcc-primary !important;
  margin: 10px 0px;

  &:hover {
    background-color: rgba(224, 112, 0, 1);
    box-shadow: inset 0 2px 1px rgba(204, 102, 0, 1);
  }

  &:active {
    background-color: rgba(224, 112, 0, 1);
    box-shadow: inset 0 2px 2px rgba(11, 43, 71, 1);
  }
}

.border a.btn:not(:last-child) {
  margin-bottom: 20px;
}

a:link, a:visited {
  color: variables.$color-pcc-primary;
}

a:hover, a:active {
  color: var(--color-secondary);
}

// TABLES
table {
  margin: 10px 0 20px 0;

  &.display-lg {
    width: 100%!important;
  }

  caption {
    color: variables.$color-pcc-primary;
  }

  th {
    background-color: rgba(195, 206, 219, 1);
    color: variables.$color-pcc-primary !important;
    font-family: 'Rajdhani', sans-serif;
  }

  thead, tr, td {
    border: 1px solid rgba(195, 206, 219, 1);
  }

  a:link, a:visited {
    color: variables.$color-pcc-primary !important;
  }

  a:hover, a:active {
    color: rgba(4, 85, 148, .7) !important;
  }
}

@media screen and (min-width: 768px) {
  table thead, tr, td {
    border: none;
  }

  tr:nth-child(even) {
    background: rgba(51, 51, 51, .05);
  }
}

// CUSTOM CLASSES
.border {
  background-color: rgba(36, 72, 106, .1);
  border-left: none;
  padding: 10px;
  box-shadow: 2px 2px 3px 2px rgba(19, 78, 130, .2);
  border-radius: 0 0 10px 10px;

  h3 {
    background-color: rgba(36, 72, 106, .1);
    padding: 10px 10px 5px 10px;
    text-align: left;
  }

  h4 {
    border-bottom: none;
    font-size: 1.2em;
    padding: 5px 6px 2px 0px;
  }
}

.border-yellow {
  background-color: rgba(255, 140, 26, .1) !important;
  border-top: 2px solid rgba(255, 140, 26, .1) !important;
  padding: 5px;
}