@import "../../routes.css";
@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@400;700&display=swap");

:root {
  --color-primary: rgba(242, 187, 22, 1);
  --color-primary-hover: rgba(217, 167, 20, 1);
  --color-tertiary: rgba(13, 13, 13, 1);
  --color-bg-primary: rgba(242, 208, 34, 0.1);
  --color-white: rgba(255, 255, 255, 1);
}

h1,
h2,
h3,
h4,
th,
li.assignment p,
li.assignment ol,
.btn {
  color: var(--color-tertiary);
  font-family: "Oxanium", sans-serif;
}

h1,
h2 {
  font-weight: 700;
}

h1 {
  font-size: 2.8em;
}

.header {
  .text-container {
    h1,
    h3,
    p {
      color: var(--color-tertiary);
    }    
  }
}

body {
  background-image: linear-gradient(rgba(255, 255, 255, 0.03), rgba(255, 255, 255, 0.03)), url("https://d2l.pima.edu/shared/templates/images/themes/machine/bg-diamond-plate.jpg");
  background-repeat: repeat;
  background-size: auto;
  border-top: 2px solid var(--color-primary);
}

.header {
  img {
    border-bottom: none;
    box-shadow: 1px 1px 6px 0px rgb(0, 0, 0, 0.3);
  }

  .text-container {
    box-shadow: 0px 3px 2px 0px rgb(0 0 0 / 10%);
    margin: 0;
    position: relative;
    z-index: 0;
    overflow: hidden;
    top: 0;
    border-top: 1px solid var(--color-primary);
    background: linear-gradient(0.9turn, rgba(188, 198, 204, 1), rgba(238, 238, 238, 1), rgba(188, 198, 204, 1));

    &::after {
      content: "";
      top: 0;
      transform: translateX(100%) rotate(30deg);
      width: 300%;
      height: 300%;
      position: absolute;
      z-index: 1;
      animation: shine 6s infinite ease-in;
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(128, 186, 232, 0) 99%, rgba(128, 186, 232, 0) 100%);
    }
  }
}

// Shine animation for text-container
@keyframes shine {
  0% {
    transform: translateX(-100%) translateY(-100%) rotate(30deg);
  }

  80% {
    transform: translateX(-100%) translateY(-100%) rotate(30deg);
  }

  100% {
    transform: translateX(100%) translateY(100%) rotate(30deg);
  }
}

.content-body,
.video-widget {
  background: var(--color-white);
  border-top: 3px solid var(--color-primary);
  border-radius: 0 0 10px 10px;
  box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.3);
  border-bottom: 3px solid rgba(210, 211, 217, 1);
}

.content-body {
  > {
    h2:first-child,
    h3:first-child {
      background: linear-gradient(0.9turn, rgba(188, 198, 204, 0.3), rgba(238, 238, 238, 1), rgba(188, 198, 204, 0.3));
      border: none;
      border-bottom: 1px solid rgba(188, 198, 204, 0.3);
      margin: -15px -15px 15px -15px;
      padding: 5px 15px;
    }
  }
}

#second-column {
  .content-body {
    > {
      h2:first-child,
      h3:first-child {
        font-size: 1.122em;
      }
    }
  }
}

.border {
  background-color: var(--color-white);
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f7f7f7' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
  border: none;
  padding: 10px;

  > {
    h3,
    h4,
    p,
    ul,
    ol {
      background-color: var(--color-white) !important;
      margin-bottom: 0 !important;
      padding: 5px 10px;
      border-left: 3px solid var(--color-primary);
      box-shadow: 1px 4px 4px 2px rgba(13, 13, 13, 0.08);
    }

    ul,
    ol {
      margin: 0;
      padding-left: 35px;
    }  

    ol li::before,
    ul li::before {
      background-color: var(--color-white);
      padding: 0 2px;
    }
  }

  ol:last-child,
  ul:last-child,
  p:last-child {
    margin-bottom: 0;
  }    
}


ul li::before {
  color: var(--color-tertiary);
}

dl,
.side-by-side {
  border-left: none;
  background-color: var(--color-white);
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f7f7f' fill-opacity='0.06' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
  padding: 10px;
}

.side-by-side-item {
  background-color: var(--color-white);
  padding: 5px;
}

dl {
  dt,
  dd {
    background-color: var(--color-white);
    border-left: 3px solid var(--color-primary);
    box-shadow: 1px 4px 4px 2px rgba(13, 13, 13, 0.08);
  } 

  dt {
    font-size: 1.1em;
    margin-right: 0;
    padding: 5px 10px 0px;
    &::before {
      content: none;
      display: inline-block;
      font-family: "FontAwesome";
      font-size: 1em;
      font-weight: 400;
      left: 30px;
      margin: 0 5px 0 -15px;
      opacity: 1;
      position: absolute;  
    }
  }  

  dd {
    border-bottom: 1px solid lightgray;
    margin-bottom: 0 !important;
    padding: 0px 10px 5px;
  }   
}

.video-widget {
  background-color: white;
  margin-bottom: 10px;

  p {
    margin: 0;
  } 

  .border {
    max-width: 80%;
  }

  .video-card {
    border-top: 1px solid var(--color-tertiary);
    h2 {
      background-color: var(--color-white);
    }

    .border h2 {
      margin: 0;
    }    
  }    
}

@media screen and (max-width: 768px) {
  table.display-lg tbody tr td:first-child {
    background: var(--color-primary);
    color: var(--color-white);
  }

  table.display-lg tbody tr td p {
    color: var(--color-white);
  }
}

//Center text on table
table {
  &.table-center-text {
    [scope="rowgroup"],
    .center-cell {
      text-align: center;
      vertical-align: middle;
    }
  }

  th {
    background-color: var(--color-primary);
    color: var(--color-white);
  }
}

.btn {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  position: relative;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  font-size: 0.8em;

  &:after {
    content: "";
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.2));
    transform: rotateZ(60deg) translate(-5em, 7.5em);
  }

  &:hover {
    background-color: var(--color-primary-hover);
    border-color: var(--color-primary-hover);
    &::after {
      animation: btn-shine 1s ease-in;
    }
  }
}

@keyframes btn-shine {
  100% {
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}

//Font properties for the widget only
li {
  &.assignment {
    p,
    ol,
    .btn {
      font-size: 0.95em;
    }
    ol li {
      margin: 0;
    }
  }
} 

//Side-by-side widget overrides
.side-by-side {
  flex-flow: column nowrap;
  gap: 10px;

  .side-by-side-item {
    box-shadow: 1px 4px 4px 2px rgba(13, 13, 13, 0.08);
    margin: 0;
    padding: 15px;
  }  
}

@media screen and (min-width: 992px) {
  .side-by-side {
    flex-flow: row nowrap;
  }
}

//Card horizontal overrides
.card-horizontal {
  background-color: var(--color-white);
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f7f7f7' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
  border: none;
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  padding: 10px;
}

@media screen and (min-width: 992px) {
  .card-horizontal {
    flex-flow: row nowrap;
  }
}

.card-body,
.card-img {
  background: var(--color-white);
  box-shadow: 1px 4px 4px 2px rgba(13, 13, 13, 0.08);
  padding: 10px 15px;
}

.card-body {
  margin-right: 0 !important;

  p {
    margin: 0;
  }
}

footer {
  background: var(--color-white);
  border-top: 3px solid var(--color-primary);
  border-radius: 0 0 10px 10px;
  box-shadow: 1px 1px 6px 0px rgb(0 0 0 / 30%);
  border-bottom: 3px solid rgba(210, 211, 217, 1);
}
