@use "../../variables";
@import "../../routes.css";

//THEME: CARDS
body {
  background-color: rgba(4, 85, 148, 0.08);
  border-top: 3px solid variables.$color-pcc-primary;
}

h2 {
  border-bottom: 1px solid rgba(51, 51, 51, 0.09);
}

//HEADER
.header {
  img {
    border-bottom: 3px solid variables.$color-pcc-primary;
  }

  .text-container {
    background: rgba(26, 97, 143, 0.7);
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='rgba(4,85,148,1)' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  }
}

@media screen and (min-width: 998px) {
  .header {
    .text-container {
      padding: 15px 0;
      position: absolute;
      top: 44%;
      width: 100%;

      &.lower {
        position: relative;
        top: 0;
      }
    }
  }
}

.header {
  .text-container {
    h1,
    h2,
    h3,
    h4,
    p {
      color: variables.$color-pcc-white;
    }
  }
}

.content-body,
.sidebar-item,
#footer,
#main footer {
  background-color: variables.$color-pcc-white;
  border-top: 3px solid rgba(26, 97, 143, 0.9);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0 0 2px 2px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.03);
}

blockquote {
  &::before,
  &::after {
    color: variables.$color-pcc-primary;
  }
}

button {
  background-color: variables.$color-pcc-primary;
  border: none;
  color: white;

  &:hover {
    background-color: variables.$color-pcc-primary-hover;
  }
}

//TABLES
table {
  caption {
    color: variables.$color-pcc-primary;
  }

  &.display-lg {
    width: 100% !important;
  }

  th {
    background-color: variables.$color-pcc-primary;
    color: variables.$color-pcc-white;
  }
}

//Table head styles for mobile
@media screen and (max-width: 768px) {
  table.display-lg tbody tr td:first-child {
    background: variables.$color-pcc-primary;
    color: variables.$color-pcc-white;
  }
}

#footer {
  > p {
    color: rgba(0, 91, 226, 1);
  }
}

//VIDEO-GRID
#video-wrapper {
  .video-card {
    border-top: 1px solid rgba(26, 97, 143, 0.3);
  }
}
