@import "../../routes.css";
/* CSS Document */
/* THEME: COMMUNICATION */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap');

:root {
	--color-primary: rgba(23, 74, 124, 1);
	--color-secondary: rgba(61, 193, 204, 1);
	--color-tertiary: rgba(196, 40, 144, 1);
	--color-quaternary: rgba(105, 50, 120, 1);
	--color-black: rgba(0, 0, 0, 1);
	--color-white: rgba(255, 255, 255, 1);
	--color-dkgrey: rgba(61, 61, 61, 1);
	--color-ltgrey: rgba(245, 245, 245, 1);

	--primary-rgb: 23, 74, 124;
	--secondary-rgb: 61, 193, 204;
	--tertiary-rgb: 196, 40, 144;
	--quaternary-rgb: 105, 50, 120;
	--black-rgb: 0, 0, 0;
	--white-rgb: 255, 255, 255;
	--dkgrey-rgb: 61, 61, 61;
	--ltgrey-rgb: 245, 245, 245;
}

// Font styles
h1, h2, h3, h4, h5, h6 {
	font-family: 'Outfit', sans-serif;
	font-weight: 400;
	color: var(--color-dkgrey);
	border-bottom: none;
}

// Header's text-container
.header {
	.text-container {
		border-radius: 0 0 10px 10px;
		background-color: var(--color-black);
		background-image: none;
	}

	img {
		border-radius: 10px 10px 0 0;
		border-bottom: none;
	}

	h1, h2, h3, h4, p {
		color: var(--color-white);
	}
}

// Main content
body {
	background: linear-gradient(-45deg, rgba(var(--primary-rgb), .1), rgba(var(--secondary-rgb), .1), rgba(var(--tertiary-rgb), .1), rgba(var(--quaternary-rgb), .1));
	background-size: 2000% 2000%;
	animation: gradient 25s ease infinite;
	background-repeat: no-repeat;
	width: 100%;
  height: 100%;
}

.content-body {
	border-radius: 10px;
	background-color: var(--color-ltgrey);
}

.content-body, .sidebar-item, #footer {
	position: relative;
	border: none;
	background-color: var(--color-ltgrey);
	border-bottom: 1px solid rgba(var(--black-rgb), .2);
	-webkit-shadow: 0 8px 8px 0 rgba(var(--black-rgb), .03);
	-o-box-shadow: 0 8px 8px 0 rgba(var(--black-rgb), .03);
	-moz-box-shadow: 0 8px 8px 0 rgba(var(--black-rgb), .03);
	box-shadow: 0 8px 8px 0 rgba(var(--black-rgb), .03);
}

[class^='icon']:first-child::before {
	background-color: rgba(var(--quaternary-rgb), .5);
	padding: 15px 15px 7px 15px;
	margin-left: -15px;
}

#second-column .content-body:last-child {
	flex-grow: 0;

	&::before {
		background-image: none;
	}
}

figure img, .side-by-side-item img {
	margin: 0 auto !important;
}

// h2 Diagonal background
:is(h2, h3, h4):first-child::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 60px;
	left: 0;
	top: 0;
	background-image: -webkit-linear-gradient(115deg, rgba(var(--white-rgb), 0) 20%, rgba(var(--primary-rgb), .1) 0);
	min-height: fit-content;
}

#second-column .content-body :is(h2, h3, h4):first-child {
	margin-bottom: 20px;

	&::after {
		height: 45px;
	}
}

// multicolored border-top
.content-body::before, .sidebar-item::before, #footer::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 5px;
  background-image: linear-gradient(to right, var(--color-primary), var(--color-secondary), var(--color-tertiary), var(--color-quaternary));
	border-radius: 200px 200px 0 0;
}

.btn {
	background-color: var(--color-dkgrey);
	border-color: var(--color-dkgrey);

	&:hover {
		background-color: var(--color-black);
		border-color: var(--color-black);
	}
}

// Footer
#footer {
	border-radius: 10px;
	padding: 10px 0;
  margin-bottom: 20px;
}

// Tables
table.display-lg th {
	background-color: var(--color-primary);
	text-align: center;
	vertical-align: middle;
}

// Widgets
blockquote {
	background-color: rgba(var(--primary-rgb), .1);
	border-radius: 10px;

	&::before {
		left: 0;
		color: var(--color-primary);
	}

	&::after {
		right: 0;
		color: var(--color-primary);
	}
}

.border {
	border-left: none;
	border-radius: 10px;
	background-color: rgba(var(--primary-rgb), .1);
	position: relative;

	.border-yellow {
		border-left: none;
		border-radius: 10px;
		margin: -15px;
		
		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 30px;
			left: 0;
			top: -20px;
			background-image: -webkit-linear-gradient(30deg, rgba(var(--primary-rgb), .3) 50%, rgba(var(--white-rgb), 0) 0);
			min-height: fit-content;
			border-radius: 10px 0 0;
		}
	}
}

.card-horizontal {
	background-color: rgba(var(--primary-rgb), .1);
	padding: 10px;
	border-radius: 10px;
	border-left: 3px solid var(--color-primary);
}

.side-by-side {
	background-image: linear-gradient(rgba(var(--primary-rgb), .1) 50%, rgba(var(--primary-rgb), .3));
	border-radius: 10px;
	padding: 10px 0 0 10px;
	justify-content: center;
}

// Background animation
@keyframes gradient {
	0% {
			background-position: 0% 50%;
	}
	50% {
			background-position: 100% 50%;
	}
	100% {
			background-position: 0% 50%;
	}
}

// Media queries
@media screen and (min-width: 998px) {
	.header .text-container {
		top: auto;
    bottom: 0;
	}
}