@use "variables";

// CSS framework classes
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

// Grouped rules
header.inner {
  padding: 0.75rem 0;
  width: 100%;
  
  nav {
    margin: 0 auto;
    max-width: variables.$max-width;
    padding: 0 0.5rem;
  }
}

main {
  grid-area: main;
}

aside {
  grid-area: aside;
  padding: 0.25rem 0.5rem; 

  ul {
    list-style-type: none;
  }
}

footer {
  grid-area: footer;
  padding: 0.25rem 0.5rem;
}

.content-wrapper {
  display: grid;
  grid-gap: 1rem;
  max-width: 100%;
  margin: 1rem auto 0;
  grid-template-areas: 
  "aside"
  "main"
  "footer"
  ;
}

@media screen and (min-width: variables.$breakpoint-md) {
  .content-wrapper {
    max-width: variables.$max-width;
    grid-template-areas: 
    "aside main main main main main"
    "footer footer footer footer footer footer"
    ;
  }
}

// Individual rules
.container {
  max-width: 95%;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-grid {
  display: grid;
}

.d-inline {
  display: inline;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.align-self-start {
  align-self: flex-start;
}

.align-self-center {
  align-self: center;
}

.flex-row {
  flex-direction: row;
}

.row-reverse {
  flex-direction: row-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-basis-25 {
  flex-basis: 25%;
}

.flex-basis-50 {
  flex-basis: 50%;
}

.flex-basis-75 {
  flex-basis: 75%;
}

.flex-basis-100 {
  flex-basis: 100%;
}

.list-style-none {
  list-style-type: none;
}

.mx-auto {
  margin: 0 auto;
}

.w-100 {
  width: 100%;
}