@use "variables";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Spline+Sans:wght@300;400;700&display=swap');

// Component-based styles
body {
  font-family: "Lato", sans-serif;
  color: rgba(77, 77, 77, 1);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Spline Sans", sans-serif;
  font-weight: 700;
  color: variables.$color-pcc-black;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

a {
  text-decoration: none;
}

.logo {
  width: 200px;
}

.nav {
  background-color: variables.$color-pcc-black;
  padding: 0.5rem 0;

  li {
    color: variables.$color-pcc-white;

    a {
      color: variables.$color-pcc-white;

      &:hover {
        color: variables.$color-pcc-tertiary;
      }
    }
  }
}

.banner {
  position: relative;
  overflow-x: clip;

  > img {
    position: absolute;
    z-index: -1;
    height: 100%;
  }

  .text-container {
    padding: 2rem 0;
    text-align: center;

    h1 {
      background-image: linear-gradient(150deg, rgba(197, 197, 255,1), rgba(151, 203, 255, 1));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    p {
      color: variables.$color-pcc-white;
      font-size: 1.5rem;
    }
  }
}

main.home {
  .container {
    > :is(h2, p) {
      text-align: center;
    }

    > h2 {
      padding-top: 6rem;
      background-image: linear-gradient(150deg, rgba(82, 101, 219, 1), rgba(3, 139, 252, 1));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    > p {
      padding-bottom: 6rem;
    }
  }

  section {
    padding: 4rem 0;

    .description {
      padding-bottom: 1rem;
      align-self: center;

      h3 {
        padding-bottom: 0.5rem;
      }
    }

    .img-wrapper {
      margin: 0 auto;
      align-self: center;

      img {
        width: 100%;
      }
    }

    &:nth-child(even) {
      background-color: variables.$color-pcc-black;

      .description {
        h3 {
          background-image: linear-gradient(150deg, rgba(197, 197, 255,1), rgba(151, 203, 255, 1));
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        p {
          color: variables.$color-pcc-white;
        }
      }
    }
  }
}

// Widgets page styles
main.widgets {
  .visual-ex > img {
    width: 100%;
  }

  .html-code {
    background-color: variables.$color-pcc-ltgrey;
    padding: 15px;

    .line {
      display: block;
    }

    .indent-1 {
      margin-left: 10px;
    }

    .indent-2 {
      margin-left: 20px;
    }
  }

  .copy-btn {
    background-color: variables.$color-pcc-primary;
    color: variables.$color-pcc-white;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px 0;

    &:hover {
      background-color: variables.$color-pcc-primary-hover;
      cursor: pointer;
    }
  }
}

footer {
  background-color: variables.$color-pcc-ltgrey;
  padding: 2rem 0;

  .logo {
    filter: invert(1);
    opacity: 0.5;
  }

  .quicklinks {
    padding: 1rem 0;
    gap: 75px;

    ul {
      list-style-type: none;
  
      a {
        color: rgba(77, 77, 77, 1);
      }
    }
  }
}

// Media queries
@media screen and (min-width: 576px) {
  main.home {
    section {
      padding: 8rem 0;
      
      div {
        gap: 4%;
      
        .description {
          flex-basis: 48%;
        }
    
        .img-wrapper {
          flex-basis: 48%;
        }
      }
    }
  }

  footer {
    .quicklinks {
        padding: 0;
      }
  }
}

@media screen and (max-width: 768px) {
  #toggle-show-hide {
    display: block;
    padding: 5px 10px;
    color: variables.$color-pcc-black;
    background-color: transparent;
    border: 1px variables.$color-pcc-ltgrey solid;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      border: 1px variables.$color-pcc-dkgrey solid;
    }
  }

  .arrow-down::after {
    content: "\f078";
    font-family: "FontAwesome";
    margin-left: 5px;
  }

  .arrow-up::after {
    content: "\f077";
  }

  .aside-section {
    padding-bottom: 1rem;

    h2 {
      font-size: 1rem;
    }

    a {
      color: variables.$color-pcc-dkgrey;

      &:hover {
        color: variables.$color-pcc-primary-hover;
      }
    }
  }

  .show-hide-content {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: height 0.5s ease-in-out, opacity 0.2s ease-in-out 0.2s;
    background-color: whitesmoke;
    padding: 15px;
    border: 0.5px variables.$color-pcc-ltgrey solid;
    border-radius: 5px;
    margin-top: 10px;
  }

  .active {
    overflow: visible;
    height: 500px;
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .banner {
    height: 400px;

    .text-container {
      flex-basis: 50%;

      h1, p {
        text-align: left;
      }
    }

    .banner-img {
      width: 65%;
      max-width: 500px;
      position: absolute;
      left: 50%;
    }
  }

  #toggle-show-hide {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .banner {
    height: 500px;

    .text-container {
      padding: 5rem 0 0 0;

      h1 {
        font-size: 4rem;
      }
    }

    .banner-img {
      max-width: 600px;
    }
  }

  .container {
    max-width: 900px;
  }
}

@media screen and (min-width: 1200px) {
  .banner {
    height: 600px;

    .banner-img {
      max-width: 800px;
    }
  }

  .container {
    max-width: 1100px;
  }
}

@media screen and (min-width: 1500px) {
  .banner {
    height: 700px;

    > img {
      height: auto;
    }

    .banner-img {
      max-width: 900px;
    }
  }
}