// PCC Brand Colors
$color-pcc-primary: rgba(4, 85, 148, 1);
$color-pcc-secondary: rgba(247, 144, 45, 1);
$color-pcc-tertiary: rgba(0, 174, 239, 1);
$color-pcc-black: rgba(13, 13, 13, 1);
$color-pcc-dkgrey: rgba(128, 128, 128, 1);
$color-pcc-ltgrey: rgba(227, 227, 227, 1);
$color-pcc-primary-hover: rgba(3, 64, 111, 1);
$color-pcc-secondary-hover: rgba(236, 119, 9, 1);
$color-pcc-tertiary-hover: rgba(0, 146, 199, 1);
$color-pcc-white: rgba(255, 255, 255, 1);
$color-accent-teal: rgba(49, 160, 174, 1);
$color-accent-purple: rgba(118, 64, 107, 1);
$color-accent-yellow: rgba(233, 195, 69, 1);

// Grid Breakpoints
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$max-width: 1024px;