@import "../../routes.css";
/* CSS Document */
/* THEME: JOURNALISM */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

:root {
  --color-primary: rgba(64, 64, 64, 1);
  --color-secondary: rgba(4, 85, 148, 1);
  --color-tertiary: rgba(255, 255, 255, 1);
  --color-quaternary: rgba(193, 213, 229, 1);
  
  --primary-rgb: 64, 64, 64;
  --secondary-rgb: 4, 85, 148;
  --tertiary-rgb: 255, 255, 255;
  --ltblue-rgb: 193, 213, 229;
}

// TYPOGRAPHY
h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}

h2 {
  color: var(--color-primary);
  padding: 10px;

  &::first-child {
    position: relative;
    color: var(--color-tertiary);
    background: var(--color-secondary);
  }
}

h3, h4 {
  color: var(--color-primary);
}

// BODY
body {
  background-image: linear-gradient(rgba(255, 255, 255, .01), rgba(255, 255, 255, .01)), url("../../../img/theme-images/journalism/bg.jpg");
  background-repeat: repeat;
  background-size: 150px;
  border-top: 3px solid rgba(var(--secondary-rgb), 1);
}

// HEADER
.header {
  display: flex;
  flex-direction: column-reverse;
  max-width: 998px;
  background-color: var(--color-tertiary);
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06);

  img {
    border-bottom: 3px solid var(--color-secondary);
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06);
  }

  .text-container {
    background-color: var(--color-secondary);
    position: relative;
    top: 0;
    padding: 0;
    max-width: none;

    h1 {
      color: var(--color-primary);
      text-transform: uppercase;
      text-align: center;
      background: var(--color-tertiary);
      margin: 0;
      padding: 0px 20px;
      height: fit-content;
      line-height: 1.2;
    }

    p {
      color: var(--color-tertiary) !important;
      text-align: center;
      font-weight: 100;
      padding: 20px;
    }
  }
}

ul > li::before {
  color: var(--color-secondary);
}

@media screen and (min-width: 768px) {
  .header .text-container {
    height: 50px;

    h1 {
      text-align: left;
      width: 600px;
    }

    p {
      text-align: left;
      position: absolute;
      top: 400%;
      background: rgba(0, 0, 0, .5);
    }
  }
}

@media screen and (min-width: 1024px) {
  .header .text-container p {
    top: 500%;
  }
}

// CONTENT-BODY
.content-body {
  background-color: var(--color-tertiary);
  border-top: 3px solid var(--color-secondary);
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06);
}

p.border {
  color: var(--color-primary);
}

.desc-list {
  background-color: var(--color-ltblue);
}

.text-columns {
  columns: 300px 2;
  column-gap: 35px;
  column-fill: auto;
  margin: 15px 0;
}

.btn {
  background-color: var(--color-primary);
  color: var(--color-tertiary) !important;
  border: 3px solid var(--color-primary);
}

// FOOTER
#footer {
  border-top: 3px solid rgba(var(--secondary-rgb), 1);
  background-color: var(--color-primary)
}

.toggle-footnotes:hover,
.footer-gallery,
.footnotes ul li {
  background-color: var(--color-primary);
}

#footer p,
.footnotes p,
.footnotes a,
.footnotes ul,
.toggle-footnotes {
  color: var(--color-tertiary);
}

// TABLES
table {
  &.display-lg {
    color: var(--color-primary);
    width: 100%;
  }

  th {
    background-color: var(--color-secondary);
    color: var(--color-tertiary);
  }

  &.two-column-table {
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  table.display-lg tbody tr td:first-child {
    background-color: var(--color-primary);
  }
}

// BORDERS
.border {
  background-color: rgba(var(--primary-rgb), .1);
  border: none;
}

.border h4, .border ul.list-group, .border p {
  color: var(--color-primary);
}

// VIDEO WIDGET
.video-card {
  width: 80%;
  margin: 0 auto;
  padding-top: 10px;

  h2 {
    color: var(--color-primary);
    background-color: transparent;
    padding: 0;
    margin-top: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

#video-widget {
  background-color: var(--color-tertiary);
}

// BLOCKQUOTE WIDGET
blockquote {
  background-color: var(--color-primary);
  border-radius: 15px;
  color: var(--color-tertiary);

  &::before {
    content: none;
  }

  &::after {
    content: no-close-quote;
    bottom: -20px;
    left: calc(50% - 10px);
    border-top: 10px solid var(--color-primary);
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }
}

// CARD HORIZONTAL WIDGET
.card-body {
  padding: 20px;
}

.card-img {
  padding: 20px;
}

.card-horizontal, .insta-card {
  background-color: rgba(var(--primary-rgb), .1);
  border-left: 3px solid var(--color-primary);
}

// INSTAGRAM CARD WIDGET
.insta-card {
  background-color: transparent;
  border-left: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 10px 18px #dddddd;
  max-width: 600px;
  padding: 40px 0px;
  margin-left: auto;
  margin-right: auto;

  .insta-header {
    width: -webkit-fill-available;
    max-width: 500px;
    margin: 0 20px;

    .icon-pcc::before {
      content: url("../../../img/theme-images/journalism/insta-handle.png");
    }

    .icon-ellipsis::before {
      font-family: "FontAwesome";
      font-weight: 400;
      color: rgba(51, 51, 51, .8);
      content: "\F141";
      opacity: 1;
      float: right;
    }
  }

  .insta-body {
    margin: 20px 20px 0px;

    p {
      max-width: 500px;
      margin-top: 20px;
    }

    .icon-heart::before {
      font-family: "FontAwesome";
      font-weight: 400;
      color: #ab0520;
      content: "\F004";
      font-size: 1em;
      opacity: 1;
    }

    .icon-comment::before {
      font-family: "FontAwesome";
      font-weight: 400;
      color: rgba(51, 51, 51, .8);
      content: "\F075";
      opacity: 1;
    }

    .icon-share::before {
      font-family: "FontAwesome";
      font-weight: 400;
      color: rgba(51, 51, 51, .8);
      content: "\F1D8";
      opacity: 1;
    }

    .icon-save::before {
      font-family: "FontAwesome";
      font-weight: 400;
      color: rgba(51, 51, 51, .8);
      content: "\F02E";
      opacity: 1;
      float: right;
    }

    .post-details {
      .views {
        margin-bottom: 0px;
      }

      .handle-hashtags {
        display: flex;

        .hashtags {
          color: rgba(0, 174, 239, 1);
        }

        p {
          margin: 0px !important;
        }
      }

      .views, .handle-hashtags .handle {
        color: rgba(147, 149, 152, 1);
      }
    }
  }
}

// SIDE-BY-SIDE WIDGET
.side-by-side {
  background-color: rgba(var(--secondary-rgb), .1);
  flex-flow: column wrap;

  .side-by-side-item {
    flex-basis: 45%;
    padding: 20px;
    margin: 0;

    figure {
      max-width: 300px;
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: 992px) {
  .side-by-side {
    flex-flow: row wrap;
  }
}

// CALL OUT WIDGET
.call-out {
  background-color: transparent;

  &::before {
    content: none;
  }

  p {
    color: var(--color-primary);
    font-style: italic;
    font-family: 'Oswald', sans-serif;
  }
}

// ACCORDION
.accordion-content {
  display: none;
}

.arrow-down::after {
  background-image: url("https://d2l.pima.edu/shared/Templates/images/icons/arrow-right.svg");
  content: '';
  display: inline-block;
  height: 16px;
  margin-left: 5px;
  transform: rotate(90deg);
}