@import "../../routes.css";
/* CSS Document */
/* THEME: MINIMALIST v2.1.2 */
body {
  background-color: rgba(255, 255, 255, 1);
  border-top: 3px solid rgba(26, 97, 143, 1);
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='rgba(0,0,0,1)' fill-opacity='0.03' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  background-size: auto;
  background-repeat: repeat;

  #main {
    margin: auto;
    max-width: 1170px;
  }
}

// HEADER
.header {
  max-width: 1170px;

  img {
    border-bottom: 3px solid rgba(26, 97, 143, 1);
  }

  .text-container {
    background: rgba(255, 255, 255, 1);
    background-image: none;

    h1, h2, h3, h4, p {
      color: rgba(26, 97, 143, 1);
    }
  }
}

@media screen and (min-width: 998px) {
  .header .text-container {
    left: 0;
    margin: 0 auto;
    margin-top: -65px;
    max-width: 998px;
    padding: 20px 15px;
    position: relative;
    top: 0;
    transform: none;
  }
}

// CONTENT BODY
.content-body {
  margin: 0 auto;
  max-width: 998px;
}

.content-body, .sidebar, #footer, #main footer {
  background-color: rgba(255, 255, 255, 1);
  border-bottom: none;
  border-top: 1px solid rgba(26, 97, 143, .3);
  margin-bottom: 10px;
}

.sidebar {
  border-left: 1px solid rgba(26, 97, 143, .3);

  .sidebar-item {
    background-color: white;
  }
}

button {
  background-color: rgba(46, 94, 142, 1);
  border: none;
  color: white;

  &:hover {
    background-color: rgba(28, 57, 87, 1);
  }
}

.border {
  border: none;
  border-radius: 0 0 8px 8px;
  border-top: 3px solid rgba(4, 85, 148, .3);
}

.card-horizontal {
  .card-img {
    padding-top: 5px;
  }

  .card-body .border {
    margin: 0;
  }
}

figcaption {
  background-color: rgba(255, 255, 255, 1);
  display: inline-block;
  font-size: .755em;
  font-style: normal;
  margin: 5px auto;
}

// TABLES
table.display-lg {
  border: 1px solid rgba(51, 51, 51, .1);
  width: 100%!important;

  caption {
    color: rgba(26, 97, 143, 1);
  }

  thead, tr, td {
    border: none;
  }

  th {
    background-color: rgba(51, 51, 51, .05);
    border-bottom: 1px solid rgba(51, 51, 51, .1) !important;
    color: rgba(0, 0, 0, 1);
  }
  
  td {
    border: 1px solid rgba(51, 51, 51, .1) !important;
  }
}

@media screen and (max-width:768px) {
  table.display-lg tbody tr td:first-child {
    background: rgba(51, 51, 51, .1);
    color: rgba(51, 51, 51, 1);
  }
}

@media screen and (min-width: 998px) {
  tr:nth-child(even) {
    background: rgba(255, 255, 255, 1);
    border-bottom: 1px solid rgba(51, 51, 51, .1);
  }
}

.two-column-table td {
  border: none !important;
}

.list-group-item:not(:last-child) {
  border-bottom: 1px solid rgba(26, 97, 143, .3);
}

// FOOTER
#footer {
  border-top: 1px solid rgba(26, 97, 143, .3);
  margin: 0 auto;
  max-width: 998px;

  p {
    color: rgba(0, 91, 226, 1);
  }

  .footnotes {
    border-top: none;
  }
}