section.section-wrapper
  h2 Caption
  p Makes text look like image caption, light grey and smaller.
  div.visual-ex
    img(src="https://via.placeholder.com/800x600" alt="")
  div.code-snippet
    pre
      code
        <p class="caption"></p>