section.section-wrapper
  h2 Edit
  p Makes text red, reserved for pre-production notes.
  div.visual-ex
    img(src="https://via.placeholder.com/800x600" alt="")
  div.code-snippet
    pre
      code
        <p class="edit"></p>