section.section-wrapper
  h2 Font sizes
  p Changes size of headings.
  div.visual-ex
    img(src="https://via.placeholder.com/800x600" alt="")
  div.code-snippet
    pre
      code
        <h2 class="font-size-h3"></h2>
        <h3 class="font-size-h4"></h3>