section.section-wrapper
  h2 Highlight
  p Used with span to highlight a word or set of words like a sharpy highlighter.
  div.visual-ex
    img(src="https://via.placeholder.com/800x600" alt="")
  div.code-snippet
    pre
      code
        <span class="highlight"></span>