section.section-wrapper
  h2 Image border
  p Adds border to image.
  div.visual-ex
    img(src="https://via.placeholder.com/800x600" alt="")
  div.code-snippet
    pre
      code
        <img class="image-border" src="" alt="">