section.section-wrapper
  h2 Labels
  p Creates a badge-like label.
  div.visual-ex
    img(src="https://via.placeholder.com/800x600" alt="")
  div.code-snippet
    pre
      code
        <label class="label label-default"></label>
        <label class="label label-muted"></label>