section.section-wrapper
  h2 Lead
  p When added to <p> it makes it slightly larger.
  div.visual-ex
    img(src="https://via.placeholder.com/800x600" alt="")
  div.code-snippet
    pre
      code
        <p class="lead"></p>