section.section-wrapper
  h2 Monospace
  p Used on text element to use monospace font.
  div.visual-ex
    img(src="https://via.placeholder.com/800x600" alt="")
  div.code-snippet
    pre
      code
        <p class="monospace"></p>