section.section-wrapper
  h2 Ratios
  p Formats media-containers proportionately.
  div.visual-ex
    img(src="https://via.placeholder.com/800x600" alt="")
  div.code-snippet
    pre
      code
        <div class="media-container ratio-16x9"></div>
        <div class="media-container ratio-4x3"></div>
        <div class="media-container ratio-4x3-content"></div>
        <div class="media-container ratio-3x2"></div>
        <div class="media-container ratio-8x5"></div>
        <div class="media-container ratio-1x1"></div>