section.section-wrapper
  h2 Separator
  p Stylized line element to separate content.
  div.visual-ex
    img(src="https://via.placeholder.com/800x600" alt="")
  div.code-snippet
    pre
      code
        <div class="separator"></div>