@import "../../routes.css";
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");

$color-primary: rgba(13, 13, 13, 0.8);

// Font styles
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: "Yeseva One", cursive;
  font-weight: 400;
}

h2 {
  border-bottom: 1px solid rgba(51, 51, 51, 0.09);
}

#second-column .content-body > h2:first-child,
#second-column .content-body > h3:first-child {
  font-size: 1.122em;
}

body {
  background-image: linear-gradient(to right, rgba(43, 82, 102, 0.4), rgba(43, 82, 102, 0.4) 25%, rgba(43, 82, 102, 0.3) 25%, rgba(43, 82, 102, 0.3) 50%, rgba(43, 82, 102, 0.25) 50%, rgba(43, 82, 102, 0.25) 75%, rgba(43, 82, 102, 0.2) 75%);
}

.header {
  .text-container {
    background: transparent;
    background-image: none;
    padding: 50px 0;
    position: static;

    h1, p {
      color: rgba(0, 0, 0, 1);
    }
  }

  img {
    border-bottom: 1px solid black;
  }
}

.content-body {
  background: white;
  border-top: none;
}

// multicolored border-top
.content-body::before,
.sidebar-item::before {
  content: "";
  display: block;
  background-image: linear-gradient(to right, rgba(13, 13, 13, 1), /*A*/ rgba(13, 13, 13, 1) 25%, /*A*/ rgba(13, 13, 13, 1) 25%, /*B*/ rgba(13, 13, 13, 1) 50%, /*B*/ rgba(13, 13, 13, 1) 50%, /*C*/ rgba(13, 13, 13, 1) 75%, /*C*/ rgba(13, 13, 13, 1) 75%);
  background-position: 0;
  background-repeat: no-repeat;
  margin: -10px -10px 0px -10px;
  height: 4px;
}

@media screen and (min-width: 730px) {
  .content-body::before,
  .sidebar-item::before {
    margin: -19px -15px 10px -15px;
  }
}

// Border
.border {
  background-image: linear-gradient(rgba(232, 232, 232, 0.4), rgba(232, 232, 232, 0.2) 15%, rgba(232, 232, 232, 0.1) 30%, rgba(255, 255, 255, 1));
  border-top: 1px solid rgba(13, 13, 13, 0.4);
  border-left: none;
  margin: 0 50px;
}

dt,
dd {
  border-left: 1px solid rgba(13, 13, 13, 0.2);
  padding-left: 5px;
}

// Images
figure {
  background: white;
  box-shadow: 0 0 0 1px rgba(13, 13, 13, 0.4) inset;
  border: 4px double rgba(13, 13, 13, 0.4);
  padding: 25px;

  figcaption {
    border: none;
    border-top: 1px double rgba(13, 13, 13, 0.3);
    margin-top: 5px;
    padding: 5px 0 0 0;

    p {
      margin: 0;
    }
  } 
}

.card-img figure {
  border: none;
  box-shadow: none;
  padding: inherit;
}

// Animated (canvas) background
#animated-bg {
  position: fixed;
  border: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -999;
}

// Assignment Widget
li.assignment {
  background-color: rgba(13, 13, 13, 0.03);
  border-top: 1px solid var(--color-primary);
  border-radius: 0px;
  margin: 0;
  margin-bottom: 15px;
  padding: 10px;
  transition: 0.3s;

  &:hover {
    transform: translate(0, -5px);
  }

  h2, h3, h4 {
    background-color: rgba(0, 0, 0, 0.03);
    font-size: 1.15em;
    font-weight: 600;
    margin: -10px -10px 10px -10px !important;
    padding: 5px 10px;
  }

  &::after {
    border-width: 28px 28px 0 0;
    border-style: solid;
    border-color: rgba(13, 13, 13, 0.08) rgba(255, 255, 255, 1);
    bottom: 0;
    box-shadow: 0 0px 0px rgb(0 0 0 / 3%), -1px -1px 1px rgb(0 0 0 / 15%);
    content: "";
    position: absolute;
    right: 0;
  }

  p, ol {
    font-family: "Lora", serif;
    font-size: 0.95em;
  }
}

.btn {
  background: var(--color-primary);
  border: var(--color-primary);
  font-family: "Lora", serif;
  font-size: 0.95em;
}

.zoom {
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.02);
  }
}