@charset "UTF-8";
/* CSS Document */
.header img {
	border-bottom: 3px solid rgba(4,85,148,1);
	width: 100%;
}

@media screen and (min-width:730px) {
	.header img {
		width: 100%;
	}
}

.header{
  position: relative;
}

.header .text-container {
	background: rgba(4,85,148,.7);
	padding: 1% 0;;
	width: 100%;
	z-index: 2;
	background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='rgba(4,85,148,1)' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");	
}

@media screen and (min-width: 730px) {
	.header .text-container {
		width: 100%;
	}
}

@media screen and (min-width: 1048px) {
	.header .text-container {
		position: absolute;
		left: 50%;
  	top: 70%;
		padding: 1% 0;
		transform: translate(-50%, -50%)
	}
}

.header .text-container h1,
.header .text-container h2,
.header .text-container h3,
.header .text-container h4, 
.header .text-container p {
	color: rgba(255,255,255,1);
	padding-left: 1%;
}

@media screen and (min-width:730px) {
	.header .text-container h1,
	.header .text-container h2,
	.header .text-container h3,
	.header .text-container h4, 
	.header .text-container p {
		padding: 0 1% 0 3%;
	}	
}

@media screen and (min-width:998px) {
	.header .text-container h1,
	.header .text-container h2,
	.header .text-container h3,
	.header .text-container h4, 
	.header .text-container p {
		padding: 0 5% 0 10%;
	}	
}

/*/// FONT STYLLES ///*/
.header .text-container h1,
.header .text-container h2,
.header .text-container h3,
.header .text-container h4 {
	font-size: 2em;
	margin: 0 0 5px 0;
}

@media screen and (min-width:730px) {
	.header .text-container h1,
	.header .text-container h2,
	.header .text-container h3,
	.header .text-container h4 {
		line-height: 1.1;
	}
}

@media screen and (min-width:998px) {
	.header .text-container h1,
	.header .text-container h2,
	.header .text-container h3,
	.header .text-container h4 {
		line-height: 1.155;
	}
}

.header .text-container p {
	margin: 0 0 5px 0;
	font-size: 1.1em;
}

@media screen and (min-width:730px) {
	.header .text-container p {
		line-height: 1.155;
		min-height: 44px;
	}
}

/*Video Container*/
.video-container {
  height: 0;
  margin: 30px 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 35px;
  position: relative;
}

.video-container iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}