@charset "UTF-8";
@use "../../../variables";
// CSS Document
// Dark Marble Background
body {
  background-image: linear-gradient(rgba(100, 100, 100, .4), rgba(100, 100, 100, .4)), url("../../../../img/theme-images/culinary/black-marble.png");
  background-repeat: repeat;
  background-size: 700px;
}

// Marble Content Background
.content-body, .header, #footer, .footer-gallery {
  background-color: variables.$color-pcc-white;
  background-image: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url("../images/concrete-light.png");
}

h1 {
  color: rgba(143, 132, 89, 1);
}

h2 {
  color: rgba(59, 72, 89, 1);
}

h3, h4 {
  color: rgba(87, 98, 112, 1);
}

h2:before, h3:before, h4:before {
  color: rgba(143, 132, 89, 1);
}

ul li:before {
  color: rgba(143, 132, 89, 1);
}

// TABLES
table.display-lg {
  width: 100%!important;
}