@charset "UTF-8"; 
@use "../../../variables";
// CSS Document
// Stainless Background
body {
  background-image: linear-gradient(rgba(240, 240, 240, .6), rgba(230, 230, 230, .6)), url("../../../../img/theme-images/culinary/steel-stainless-rotate.jpg");
  background-repeat: repeat;
  background-size: 300px;
}

h1, h2 {
  color: rgba(59, 85, 107, 1);
}

h3, h4 {
  color: rgba(111, 141, 162, 1);

  &::before, &::before {
    color: rgba(59, 85, 107, 1);
  }
}

ul li:before {
  color: rgba(187, 159, 6, 1);
}

// TABLES
table.display-lg {
  width: 100%!important;
}