@charset "UTF-8";
@use "../../../variables";
// CSS Document
// Wood Background
body {
  background-image: linear-gradient(rgba(255, 255, 255, .5), rgba(230, 230, 230, .5)), url("../../../../img/theme-images/culinary/wood.jpg");
  background-repeat: repeat;
  background-size: 300px;
}

// Marble Content Background
.content-body, .header, #footer, .footer-gallery {
  background-color: variables.$color-pcc-white;
  background-image: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url("../../../../img/theme-images/culinary/concrete-light.png");
}

h1 {
  color: rgba(33, 72, 66, 1);
}

h2, h3, h4 {
  color: rgba(65, 101, 138, 1);
}

table.display-lg {
  border: 3px solid rgba(65, 101, 138, 1);
  width: 100%!important;

  thead {
    background: rgba(65, 101, 138, 1) !important;
  }
}

@media screen and (max-width: 768px) {
  table.display-lg tbody tr td:first-child {
    background: rgba(65, 101, 138, 1);
  }
}

table caption {
  color: rgba(33, 72, 66, 1);
}

.menu-table {
  h2 {
    color: rgba(33, 72, 66, 1) !important;

    &::after {
      border-bottom: 3px solid rgba(33, 72, 66, 1);
    }
  }

  .menu-table-inner {
    border: 3px solid rgba(65, 101, 138, 1);
  }

  tr {
    background: rgba(255, 253, 244, 1) !important;
  }

  th {
    color: rgba(65, 101, 138, 1);
  }

  table caption {
    color: rgba(65, 101, 138, 1);
  }

  td:first-child {
    color: rgba(65, 101, 138, 1) !important;
  }
}

blockquote {
  color: rgba(162, 176, 179, 1);

  &::before {
    color: rgba(65, 101, 138, 1);
  }

  &::after {
    color: rgba(65, 101, 138, 1);
  }
}

.border {
  background-color: rgba(253, 251, 237, 1);
  border-left: 4px solid rgba(187, 159, 6, 1);
}

.invite-inner {
  border: 2px solid rgba(65, 101, 138, 1);
}

a:link:not(.fancybox-img-lg) {
  border-bottom: 1.5px solid rgba(114, 158, 161, 1);
  color: rgba(114, 158, 161, 1);
}

ul li:before {
  color: rgba(114, 158, 161, 1);
}

dt {
  color: rgba(65, 101, 138, 1);
}