section.widget-wrapper
  h2 Blockquote
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus ad est consectetur sunt eveniet ab corporis. Voluptates exercitationem dolorem aspernatur magnam sapiente cumque, nisi adipisci hic, laborum, porro iste rerum.
  div.visual-ex
    img(src="https://via.placeholder.com/800x600" alt="")
  div.html-code
    pre
      code
        span.line &lt;blockquote class="text-center"&gt;
        span.line.indent-1 &#46;&#46;&#46;
        span.line &lt;/blockquote&gt;
  button.copy-btn Copy code