section.widget-wrapper
  h2 Border
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus ad est consectetur sunt eveniet ab corporis. Voluptates exercitationem dolorem aspernatur magnam sapiente cumque, nisi adipisci hic, laborum, porro iste rerum.
  div.visual-ex
    img(src="https://via.placeholder.com/800x600" alt="")
  div.html-code
    pre
      code
        span.line &lt;div class="border"&gt;
        span.line.indent-1 &#46;&#46;&#46;
        span.line &lt;/div&gt;
  button.copy-btn Copy code