section.widget-wrapper
  h2 Card Horizontal
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus ad est consectetur sunt eveniet ab corporis. Voluptates exercitationem dolorem aspernatur magnam sapiente cumque, nisi adipisci hic, laborum, porro iste rerum.
  div.visual-ex
    img(src="https://via.placeholder.com/800x600" alt="")
  div.html-code
    pre
      code
        span.line &lt;div class="card-horizontal"&gt;
        span.line.indent-1 &lt;div class="card-body"&gt;
        span.line.indent-2 &#46;&#46;&#46;
        span.line.indent-1 &lt;/div&gt;
        span.line.indent-1 &lt;div class="card-img"&gt;
        span.line.indent-2 &#46;&#46;&#46;
        span.line.indent-1 &lt;/div&gt;
        span.line &lt;/div&gt;
  button.copy-btn Copy code