div.aside-wrapper
  button#toggle-show-hide.arrow-down Table of Contents 
  div.show-hide-content
    div.aside-section
      h2 Getting Started
      ul
        li
          a(href="#") Item 1
        li
          a(href="#") Item 2
        li
          a(href="#") Item 3
    div.aside-section
      h2 Layouts
      ul
        li
          a(href="#") Item 1
        li
          a(href="#") Item 2
        li
          a(href="#") Item 3
    div.aside-section
      h2 Containers
      ul
        li
          a(href="#") Item 1
        li
          a(href="#") Item 2
        li
          a(href="#") Item 3
    div.aside-section
      h2 Widgets
      ul
        li
          a(href="#") Item 1
        li
          a(href="#") Item 2
        li
          a(href="#") Item 3
    div.aside-section
      h2 Utility Classes
      ul
        li
          a(href="#") Item 1
        li
          a(href="#") Item 2
        li
          a(href="#") Item 3