div.banner
  img(src="../img/blue-bg.svg")
  div.container.d-flex.flex-row.flex-wrap
    div.text-container
      h1 Build Courses Efficiently
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    div.banner-img
      img.w-100.mx-auto(src="../img/home-banner.png" alt="")