div.container.d-flex.justify-content-between.flex-row.flex-wrap
  div.logo-wrapper.align-self-start.flex-basis-50
    a(href="#")
      img.logo(src="../img/pcc_brand.png" alt="")
  div.quicklinks.d-flex.flex-wrap.flex-row.justify-content-between
    div.links-col
      h4 Heading
      ul
        li
          a(href="#") Link 1
        li
          a(href="#") Link 2
        li
          a(href="#") Link 3
    div.links-col
      h4 Heading
      ul
        li
          a(href="#") Link 1
        li
          a(href="#") Link 2
        li
          a(href="#") Link 3
    div.links-col
      h4 Heading
      ul
        li
          a(href="#") Link 1
        li
          a(href="#") Link 2
        li
          a(href="#") Link 3