div.container
  h2 Online course development just got easier
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
section
  div.container.d-flex.flex-row.flex-wrap
    div.description
      h3 Always the latest technology thanks to continuous improvement
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    div.img-wrapper
      img(src="https://unsplash.it/400/300" alt="")
section
  div.container.d-flex.row-reverse.flex-wrap
    div.description
      h3 Easily customizable and project specific
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    div.img-wrapper
      img(src="https://unsplash.it/400/300" alt="")
section
  div.container.d-flex.flex-row.flex-wrap
    div.description
      h3 Choose a theme to get started
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    div.img-wrapper
      img(src="https://unsplash.it/400/300" alt="")