div.nav
  div.container.d-flex.justify-content-between
    div.logo-wrapper.d-block
      a(href="#")
        img.logo(src="../img/pcc_brand.png" alt="")
    nav.align-self-center.flex-basis-25
      ul.d-flex.justify-content-between.list-style-none
        li
          a(href="#") Docs
        li
          a(href="#") Icons
        li
          a(href="#") Themes