@import "../../routes.css";
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap");

:root {
  --color-primary: rgba(3, 62, 140, 1);
  --color-secondary: rgba(191, 96, 113, 1);
  --color-tertiary: rgba(217, 164, 4, 1);
  --color-quarternary: rgba(217, 61, 61, 1);
  --color-text: rgba(13, 13, 13, 1);
  --color-white: rgba(255, 255, 255, 1);
}

#three-column {
  grid-template-areas:
    "header"
    "body"
    "second-column"
    "third-column"
    "footer";
}

@media screen and (min-width: 800px) {
  #three-column {
    grid-template-areas:
      "header header"
      "body second-column"
      "third-column third-column"
      "footer footer";
    grid-template-columns: minmax(375px, 60%) minmax(300px, 30%);
    grid-column-gap: 2.5%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.text-container p,
dl dt {
  color: var(--color-text);
  font-family: "Lora", serif;
}

h2,
h3 {
  border-bottom: 2px solid rgba(13, 13, 13, 0.8);
}

#second-column {
  .content-body {
    > {
      h2, h3 {
        &:first-child {
          font-size: 1.122em;
        }
      }
    }
  }
}

body {
  background-image: linear-gradient(rgba(168, 211, 255, 0.2), rgba(168, 211, 255, 0.2)), url("../../../img/theme-images/writing/bg-writing.jpg");
  background-repeat: repeat;
  background-size: 400px;
  border-top: none;

  &::before {
    position: absolute;
    content: "";
    background-image: linear-gradient(to right, var(--color-secondary), var(--color-secondary) 25%, var(--color-primary) 25%, var(--color-primary) 50%, var(--color-tertiary) 50%, var(--color-tertiary) 75%, var(--color-quarternary) 75%);
    background-position: 0;
    background-repeat: no-repeat;
    display: block;
    height: 3px;
    left: 0;
    margin: 0 auto;
    top: 0;
    width: 100%;
  }

  &::after {
    content: "";
    border-width: 25px 25px 0 0;
    border-style: solid;
    border-color: rgba(241, 241, 241, 1) rgba(255, 255, 255, 1);
    bottom: 0;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 30%), -1px 1px 1px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0px 1px rgb(0 0 0 / 30%), -1px 1px 1px rgb(0 0 0 / 20%);
    position: absolute;
    right: 0;
  }
}


.header {

  .text-container {
    background-image: linear-gradient(rgba(13, 13, 13, 0.95), rgba(13, 13, 13, 0.95)), url("../../../img/theme-images/writing/bg-composition-notebook.jpg");
    border-radius: 0 0 6px 6px;
    position: initial;
    top: 0;

    p,
    h1 {
      color: var(--color-white);
    }
  }

}

.content-body {
  background: var(--color-white);
  border-radius: 1px 12px 12px 1px;
  border-top: none;
  border-left: 6px solid rgba(13, 13, 13, 0.2);
  border-bottom: 1px solid rgba(13, 13, 13, 0.3);
  box-shadow: -2px 0 0 0 rgba(13, 13, 13, 0.25);
}

.btn {
  background-color: var(--color-tertiary);
  border-color: var(--color-tertiary);
  font-family: "Lora", serif;
  font-size: 0.95em;  

  &:hover {
    background-color: rgba(209, 158, 4, 1);
    border-color: rgba(209, 158, 4, 1);
  }
}

.border {
  background-color: transparent;
  border-left: 1px solid var(--color-secondary);
  border-radius: 0;
  padding: 0 15px;

  h3, h4 {
    &:first-child {
      background: var(--color-white);
      border-bottom: none;
      margin: 0px 0 10px -16px;
      padding: 0 0 0 0;
    }
  }
    
}

@media screen and (min-width: 768px) {
  .border {
    max-width: 500px;
    margin: 20px auto;
  }
}

// Font properties for the widget only
li {
  &.assignment {
    p,
    ul,
    ol {
      font-family: "Lora", serif;
      font-size: 0.95em;
    }

    ul li,
    ol li {
      margin: 0;
    }    
  }
}

dl {
  dt {
    border-left: 1px solid rgba(13, 13, 13, 0.03);
    font-family: "Lora", serif;
  }

  dd {
    border-left: 1px solid var(--color-secondary);
    margin-left: 1px !important;
    padding-left: 9px;
  }
}
