@import "../../routes.css";
@import url(https://fonts.googleapis.com/css?family=Source+Serif+Pro);
/* CSS Document */
/* THEME: RESORT v1.2.0 */

// COLORS
:root {
--color-primary: rgba(44, 81, 112, 1);
--color-secondary: rgba(126, 89, 32, 1);
--color-tertiary: rgba(196, 169, 107, 1);
--color-quaternary: rgba(255, 253, 244, 1);
}

// MAIN
body {
  background-color: rgba(0, 0, 0, .05);
  background-image: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url("https://d2l.pima.edu/shared/Templates/images/themes/resort/stripes-light.png");
  background-repeat: repeat;
  background-size: auto;
  font-family: 'Lato', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 100%;
  line-height: 1.35;
}

#main, #main-two-column {
  padding: 20px;
}

// HEADER
.header {
  img {
    padding: 2%;
    width: 96%
  }

  h1 {
    padding: 10px 0px;
  }
}

@media screen and (min-width: 998px) {
  .header .text-container {
    position: relative;
    left: 0%;
    transform: translate(0%, 0%);
  }

  #one-column .header .text-container, #two-column .header .text-container {
    top: 0%;
  }
}

// CONTENT BODY
.content-body, .header, #footer {
  background-color: rgba(255, 255, 255, .7);
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  border-radius: 12px;
  box-shadow: 0px 0px 8px 0 rgba(0, 0, 0, .2);
  margin-bottom: 20px;
}

.content-body h1 {
  font-family: 'Source Serif Pro', 'Lato', Helvetica, sans-serif;
  color: var(--color-tertiary);
  font-weight: 700;
  margin: 0 20px -20px 20px;
  letter-spacing: -.02em;
}

.content-body, #footer {
  padding: 10px;
}

@media screen and (min-width: 660px) {
  .content-body {
    padding: 15px;
  }
}

@media screen and (min-width: 768px) {
  .content-body {
    padding: 10px;
  }
}

// TABLES
table {
  .display-lg {
    margin: 0px auto;
    width: 100% !important;

    thead {
      background: var(--color-primary) !important;
    }
  }

  tr:nth-child(even) {
    background: rgba(196, 169, 107, .3);
  }

  caption {
    color: var(--color-primary);
    font-family: 'Source Serif Pro', 'Lato', Helvetica, sans-serif;
    font-size: 1.4em;
    font-weight: 600;
    margin: -20px auto 0.25rem auto;
  }
}

@media screen and (min-width:550px) {
  table.display-lg {
    margin: 25px auto;
  }
}

@media screen and (max-width: 768px) {
  table.display-lg tbody tr td:first-child {
    background: var(--color-primary);
  }
}

// BLOCK QUOTES
blockquote {
  background-color: rgba(255, 255, 255, 1);
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23D6D9D9' fill-opacity='.3' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  border-left: 3px solid var(--color-tertiary);
  font-size: 1.3em;
  font-weight: 100;
  margin: 10px 30px 30px 20px;
  padding: 0 10px;

  &::before {
    color: var(--color-tertiary);
    content: '\201C';
    font-family: "FontAwesome";
    font-size: 1.5em;
  }

  &::after {
    color: var(--color-tertiary);
    content: '\201D';
    font-family: "FontAwesome";
    font-size: 1.5em;
  }
}

@media screen and (min-width:730px) {
  blockquote::before {
    top: -20px;
  }
  blockquote::after {
    bottom: -40px;
  }
}

// ASIDE
aside {
  background-color: rgba(234, 239, 243, 1);
  border: 1px solid rgba(46, 94, 142, .3);
  margin: 10px;
  padding: 15px 10px;
}

@media screen and (min-width: 768px) {
  aside {
    float: left;
    margin: 10px 40px 20px -20px;
    max-width: 35%;
    padding: 10px;
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
}

@media screen and (max-width: 768px) {
  h3.aside {
    margin: 0;
    margin-bottom: 10px;
  }

  aside p {
    margin: 0;
  }
}

// FIGURES AND FIGCAPTION
figure {
  border: 1px solid rgba(221, 221, 221, 1);
  border-bottom: none;
  display: table;
  margin-left: 20px;
  margin-right: 20px;

  figcaption {
    border: 1px solid rgba(221, 221, 221, 1);
    border-top: none;
    caption-side: bottom;
    display: table-caption;
    font-family: 'Lato', Helvetica, sans-serif;
    font-size: 0.8em;
    font-style: italic;
    padding: 5px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  figure {
    margin: auto;

    figcaption {
      margin: 0px;
    }
  }
}

// MISC
.highlight {
  background-image: linear-gradient(to bottom, var(--color-tertiary), var(--color-tertiary));
  border: 2px solid var(--color-tertiary);
}

.fancybox {
  justify-content: space-around
}

.border {
  background-color: var(--color-quaternary);
  border: 1px solid var(--color-primary);
  border-left: 5px solid var(--color-primary);
  margin: 25px 10px;
}

.border-yellow {
  background-color: rgba(240, 217, 152, .3) !important;
  border-bottom: 2px solid rgba(196, 169, 107, .5) !important;
  border-top: 2px solid rgba(196, 169, 107, .5) !important;
  padding: 5px 10px;

  &::before {
    display: none;
  }

  h4 {
    border-bottom: none !important;
  }

  p {
    text-align: center;
  }
}

hr {
  border-bottom: 2px solid var(--color-tertiary);
  margin: 20px;
}

a:link, a:visited {
  color: var(--color-primary);
  overflow-wrap: break-word;
  word-wrap: break-word;
}

a:hover, a:active {
  background-image: linear-gradient(to bottom, var(--color-tertiary), var(--color-tertiary));
  color: rgba(0, 0, 0, 1);
  overflow-wrap: break-word;
  text-decoration: none;
  word-wrap: break-word;
}

img {
  margin: 0 auto !important;
}

// TWO COLUMN CHANGES
#main-two-column {
  max-width: 1170px;

  .content-body {
    flex-basis: 59%;
  }

  .sidebar {
    background-color: rgba(255, 255, 255, .7);
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0 rgba(0, 0, 0, .2);
    flex-basis: 35%;
    margin-top: 10px;

    .sidebar-item {
      display: block;
      max-width: 100%;
      padding: 10px 20px 20px 24px;
      vertical-align: top;

      h4 {
        border-bottom: 1px solid rgba(0, 0, 0, .1);
      }
    }
  }
}

// WIDGET CHANGES
// CONTENT SEPARATOR
.separator {
  content: url("https://d2l.pima.edu/shared/Templates/images/themes/resort/separator.svg");
}

// FLIPCARD
#nav_deck button {
  background-color: var(--color-tertiary);

  &:hover {
    background-color: var(--color-secondary);
  }
}

// FOOTER GALLERY
.footer-gallery {
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0 rgba(0, 0, 0, .2);
}
@media screen and (min-width: 600px) {
  .row {
    margin: 0 auto;
    padding: 5px;
  }
  .column {
    margin: 10px;
  }
}

// INVITE CARD
.invite {
  background-color: var(--color-quaternary);

  .invite-inner {
    border: 2px solid var(--color-tertiary);
  }
}

// MENU TABLE
.menu-table {
  background-color: var(--color-quaternary) !important;

  .menu-table-inner {
    border: 2px solid var(--color-tertiary);
  }

  tr {
    background: var(--color-quaternary) !important;
  }

  th {
    color: var(--color-primary);
    background-color: var(--color-quaternary);
  }

  table caption {
    color: var(--color-primary);
  }

  td:first-child {
    color: var(--color-primary) !important;
  }

  table::after {
    content: url("https://d2l.pima.edu/shared/Templates/images/themes/resort/flourish-right.svg");
    display: block;
    margin: auto;
    text-align: center;
    width: 100px;
  }

  h2::after {
    content: url("https://d2l.pima.edu/shared/Templates/images/themes/resort/flourish-left.svg");
    display: block;
    margin: auto;
    width: 100px;
  }

  .header-flourish {
    display: none;
  }
}

@media screen and (min-width: 550px) {
  .menu-table {
    h2::before {
      content: url("https://d2l.pima.edu/shared/Templates/images/themes/resort/flourish-main.svg");
      display: block;
      margin: auto;
      width: 90%;
    }

    div::after {
      content: url("https://d2l.pima.edu/shared/Templates/images/themes/resort/flourish-main.svg");
      display: block;
      margin: auto;
      transform: rotate(180deg);
      width: 90%;
    }
  
    table caption::before {
      content: url("https://d2l.pima.edu/shared/Templates/images/themes/resort/flourish-left.svg");
      display: inline-block;
      padding-right: 10px;
      width: 100px;
    }

    table caption::after {
      content: url("https://d2l.pima.edu/shared/Templates/images/themes/resort/flourish-right.svg");
      display: inline-block;
      padding-left: 10px;
      width: 100px;
    }
    
    table::after {
      display: none;
    }

    h2::after {
      display: none;
    }
  }
}

// TYPOGRAPHY CHANGES
h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Serif Pro', 'Lato', Helvetica, sans-serif;
  font-weight: 600 !important;
}

h1 {
  color: var(--color-tertiary);
  font-size: 2em;
  font-weight: 700;
  letter-spacing: -.02em;
  max-width: 97.1428571428571%;
  text-align: center;
}

h2, h3, h4 {
  color: var(--color-primary) !important;
  text-align: center;
}

h2 {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  font-size: 1.7em;
  margin-bottom: 10px;
  margin-top: 10px;
}

h3 {
  font-size: 1.5em;
  margin-top: 30px;
}

h4 {
  font-size: 1.4em;
  letter-spacing: -.028em;
}

ul.lead, ol.lead {
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 1.225em;
  font-weight: 400;
  letter-spacing: -.002em;
  margin: 20px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  p {
    padding: 0px 20px;

    .lead {
      font-size: 1.15em;
    }
  }
}

@media screen and (max-width: 480px) {
  p {
    padding: 0px 10px;

    .lead {
      font-size: 1em;
    }
  }
}

// VIDEO GRID
#video-grid {
  .content-body p {
    text-align: center;
  } 
  .video-card {
      border-bottom: 1px solid rgba(0, 0, 0, .2);
      border-radius: 12px;
      box-shadow: 0px 0px 8px 0 rgb(0 0 0 / 20%);
      margin-bottom: 20px;
  }
}