doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="../../../dist/css/docs_scss/index.css")
    title Live Test Site
  body
    include _includes/nav
    include _includes/header
    include _includes/main
    include _includes/footer