doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="../../dist/css/main.css")
    title PimaOnline Webdocs
  body
    div.wrapper
      header
        include _includes/nav
        include _includes/banner
      main.home
        include _includes/main
      footer
        include _includes/footer