doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="../../dist/css/main.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css")
    script(src="../js/scripts.js" defer)
    title Utility Classes - PimaOnline Webdocs
  body
    header
      include _includes/nav
    div.content-wrapper
      main
        div.container
          h1 Utility Classes
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, est nisi? Minus totam voluptas, repellat ratione quisquam cumque eos, a perspiciatis saepe expedita incidunt sit repellendus vel inventore, nobis distinctio.
          include _includes/utilities/caption
          include _includes/utilities/edit
          include _includes/utilities/font-sizes
          include _includes/utilities/highlight
          include _includes/utilities/image-border
          include _includes/utilities/labels
          include _includes/utilities/lead
          include _includes/utilities/monospace
          include _includes/utilities/ratios
          include _includes/utilities/separator
      aside
        include _includes/aside
    footer
      include _includes/footer