doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="../../dist/css/main.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css")
    script(src="../js/scripts.js" defer)
    title Widgets - PimaOnline Webdocs
  body
    header
      include _includes/nav
    div.content-wrapper
      main.widgets
        div.container
          h1 Widgets
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, est nisi? Minus totam voluptas, repellat ratione quisquam cumque eos, a perspiciatis saepe expedita incidunt sit repellendus vel inventore, nobis distinctio.
          include _includes/widgets/blockquote
          include _includes/widgets/border
          include _includes/widgets/card-horizontal
      aside
        include _includes/aside
    footer
      include _includes/footer