@use "../../variables";
@import "../../routes.css";
// CSS Document
// THEME: CULINARY v2.1.2
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;800;900&display=swap');

html {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(rgba(240, 240, 240, .6), rgba(230, 230, 230, .6)), url("../../../img/theme-images/culinary/steel-stainless-rotate.jpg");
  background-repeat: repeat;
  background-size: 300px;
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 100%;
  line-height: 1.35;
}

.content-body, .header, #footer, .footer-gallery {
  background-color: variables.$color-pcc-white;
  border-bottom: solid 3px variables.$color-pcc-white;
  border-radius: 5px;
  box-shadow: 0 1px 0 rgba(210, 210, 210, 1), 0 2px 0 rgba(200, 200, 200, 1), 0 3px 0 rgba(190, 190, 190, 1), 0 4px 0 rgba(180, 180, 180, 1), 0 0 5px rgba(0, 0, 0, .05), 0 1px 3px rgba(0, 0, 0, .2), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .2), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .2), inset 5px 5px 5px variables.$color-pcc-white;
  text-align: left;
}

// Column Edits
#one-column, #two-column, #two-col-widget {
  grid-row-gap: 20px;
}

#two-col-widget {
  grid-template-rows: auto;
}

#two-column .header, #two-col-widget .header {
  max-width: 1004px;
}

@media screen and (min-width: 700px) {
  #two-column, #two-col-widget {
    grid-template-columns: minmax(400px, 650px) minmax(280px, 350px);
    grid-column-gap: 25px;
  }
}

// HEADER
.header {
  display: grid;
  grid-auto-rows: 10em auto;
  grid-template-areas: "image" "text";
  margin-bottom: 0px;
  max-height: 375px;
  max-width: 978px;
  overflow: hidden;
  padding: 1%;
  width: auto;

  img {
    grid-area: image;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    width: fit-content;
  }

  .text-container {
    grid-area: text;
    height: auto;
    margin: auto;
    padding-bottom: 20px;
  }
}

@media screen and (min-width:730px) {
  .header {
    width: auto;
    display: grid;
    grid-auto-rows: auto;
    grid-template-areas: "text image";
    grid-template-columns: minmax(250px, 300px) minmax(455px, 715px);
    max-height: 300px;

    img {
      height: 270px;
    }

    .text-container {
      padding: 0 3%;
    }
  }
}

// CONTENT BODY
.content-body {
  margin-bottom: 20px;
  padding: 10px 20px;
  z-index: 1;

  &:last-child {
    margin-bottom: 0px
  }
}

// FOOTER
footer {
  z-index: 2;

  #footer {
    margin-bottom: 10px;
    padding: 10px;
  }
}

/*--TABLES----------*/
table {

  .display-lg {
    border: 3px solid variables.$color-pcc-primary;
    margin: 0px auto;
    width: 100% !important;
  
    thead {
      background: variables.$color-pcc-primary !important;
    }
  }

  tr:nth-child(even) {
    background: rgba(162, 176, 179, .5);
  }

  caption {
    font-size: 1.4em;
    font-weight: 600;
    margin: -20px auto 0.25rem auto;
  }
}

@media screen and (min-width:550px) {
  table.display-lg {
    margin: 25px auto;
  }
}

@media screen and (max-width: 768px) {
  table.display-lg tbody tr td:first-child {
    background: variables.$color-pcc-primary;
  }
}

// BLOCK QUOTES
blockquote {
  color: rgba(4, 85, 148, .6);
  font-size: 1.2em;
  font-weight: 600;
  margin: 30px 30px 40px 30px;
  padding: 0 10px;
  font-style: italic;

  &::before {
    color: variables.$color-pcc-primary;
    content: '\F10D';
    font-family: "FontAwesome";
    font-size: 1.2em;
    top: -30px;
  }

  &::after {
    bottom: -30px;
    color: variables.$color-pcc-primary;
    content: '\F10E';
    font-family: "FontAwesome";
    font-size: 1.2em;
  }
}

// FIGURES AND FIGCAPTION
figure {
  border: 6px solid variables.$color-pcc-white;
  border-bottom: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .25);
  display: table;
  margin-left: 20px;
  margin-right: 20px;

  figcaption {
    background-color: variables.$color-pcc-white;
    border-top: none;
    caption-side: bottom;
    padding: 10px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  figure {
    margin: auto;

    figcaption {
      margin: 0px;
    }
  }
}

// MISC
.highlight {
  background-image: linear-gradient(to bottom, rgba(208, 208, 208, 1), rgba(208, 208, 208, 1));
  border: 2px solid rgba(208, 208, 208, 1);
}

// Border
.border {
  background-color: rgba(239, 247, 251, 1);
  border-radius: 0 10px 10px 0;
  box-shadow: 4px 5px 10px 0px rgba(187, 187, 187, .5);
  margin: 10px 0px;
  position: relative;

  &:not(:first-child) {
    margin-top: 30px;
  }

  &::before, &::after {
    background: #777;
    bottom: 15px;
    box-shadow: 0 15px 10px #777;
    content: "";
    max-width: 300px;
    position: absolute;
    top: 80%;
    width: 50%;
    z-index: -1;
  }

  &::before {
    left: 10px;
    transform: rotate(-3deg);
  }

  &::after {
    right: 10px;
    transform: rotate(3deg);
  }
}

hr {
  border-bottom: 3px solid variables.$color-pcc-black;
  margin: 20px;
}

img {
  margin: 0 auto !important;
}

// WIDGET CHANGES
// INVITE CARD
.invite {
  background-color: rgba(255, 253, 244, 1);
  margin: 20px 0px;

  .invite-inner {
    border: 2px solid variables.$color-pcc-primary;
  }

  h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 5px auto !important;
  }
}

/*--MENU TABLE----------*/
.menu-table {
  background-color: rgba(255, 253, 244, 1) !important;

  h2 {
    font-weight: 800;
    text-transform: uppercase;
    padding-bottom: 10px;

    &::after {
      border-bottom: 3px solid variables.$color-pcc-primary;
      content: "";
      display: block;
      margin: 0 auto;
      padding-top: 10px;
      width: 20%;
    }
  }

  .menu-table-inner {
    border: 3px solid variables.$color-pcc-primary;
  }

  table {
    border: none;

    th {
      color: variables.$color-pcc-primary;
      background-color: rgba(255, 253, 244, 1);
    }

    tr {
      background: rgba(255, 253, 244, 1) !important;
    }

    td:first-child {
      color: variables.$color-pcc-primary !important;
    }

    caption {
      color: variables.$color-pcc-primary;
    }
  }
}

// TYPOGRAPHY CHANGES
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  padding: 10px 0px;
  letter-spacing: 4px;
  font-size: 2em;
  font-weight: 800;
  text-transform: uppercase;
}

h2, h3, h4 {
  font-weight: 600;
  text-align: left;
}

h2 {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  font-size: 1.7em;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 25px;
}

h3 {
  font-size: 1.5em;
  margin-top: 30px;
}

h4 {
  font-size: 1.4em;
}

.header h1, .header h2, .header h3, .header p {
  text-align: center;
}

a:link:not(.fancybox-img-lg) {
  border-bottom: 1.5px solid variables.$color-pcc-primary;
  color: variables.$color-pcc-primary;
  font-weight: 900;
  overflow-wrap: break-word;
  padding: 0 2px 2px 2px;
  text-decoration: none;
  word-wrap: break-word;
}

a:hover, a:active {
  background-image: linear-gradient(to bottom, rgba(114, 158, 161, .2), rgba(114, 158, 161, .2));
  overflow-wrap: break-word;
  padding: 0 2px 2px 2px;
  text-decoration: none;
  word-wrap: break-word;
}

ul li::before {
  color: variables.$color-pcc-primary;
}

dt {
  font-weight: 900;
}

// VIDEO-GRID
#video-grid {
  grid-row-gap: 20px;

  .video-card {
    border-bottom: solid 3px variables.$color-pcc-white;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(210, 210, 210, 1), 0 2px 0 rgba(200, 200, 200, 1), 0 3px 0 rgba(190, 190, 190, 1), 0 4px 0 rgba(180, 180, 180, 1), 0 0 5px rgba(0, 0, 0, .05), 0 1px 3px rgba(0, 0, 0, .2), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .2), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .2), inset 5px 5px 5px variables.$color-pcc-white;
  }
}