@charset "UTF-8";
/* CSS Document */
.fancybox {
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: stretch;
	justify-content: space-between;
}

.fancybox img.fancybox-img-sm {
	margin-bottom: 3px !important;
	max-width: 100%;
}

@media screen and (min-width:730px) {
	.fancybox img.fancybox-img-sm {
		max-width: 100%;
	}
}

@media screen and (min-width:995px) {
	.fancybox img.fancybox-img-sm {
		max-width: 85px;
	}
}

@media screen and (min-width:1160px) {
	.fancybox img.fancybox-img-sm {
    max-width: 99px;
	}
}

img.fancybox-img-sm:hover {
	-webkit-filter: brightness(80%);
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
}

.fancybox-skin {
	background: #ffffff;
	border-radius: 0;
}

.fancybox a {
	text-decoration: none !important;
}

/* this sets styles for the text above thumbnails "image gallery:" */
.fancybox p {
	color: #232323;
	font-size: .855em;
	font-style: italic;
	margin-bottom: 2px;
}

.fancybox-title-float-wrap .child {
	border-radius: 0;
}

.fancybox-title {
	color: #000000;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;	
	line-height: 1.355;
	pointer-events: all;
	text-align: left;
}