main
  div.overview
    h2 Choose a theme, any theme, then pick a template
    p We have many different themes to choose from with multiple layouts per theme. Stay tuned for more in the future!
  div.themes-container
    section
      img(src="../../src/docs/test_site_imgs/art_icon.svg" alt="")
      h2 Art Theme
      div.link-container
        ul.template-items
          h3 Module Templates
          li
            a(href="../html-templates/art/Module/one-column.html" target="_blank") One-Column
          li
            a(href="../html-templates/art/Module/two-column.html" target="_blank") Two-Column
          li
            a(href="../html-templates/art/Module/two-column-widget.html" target="_blank") Two-Column Widget
          li
            a(href="../html-templates/art/Module/video-grid.html" target="_blank") Video Grid
        ul.template-items
          h3 Start Here Templates
          li
            a(href="../html-templates/art/Start-Here/course-intro.html" target="_blank") Course Intro
          li
            a(href="../html-templates/art/Start-Here/instructor-bio.html" target="_blank") Instructor Bio
          li
            a(href="../html-templates/art/Start-Here/required-materials.html" target="_blank") Required Materials
          li
            a(href="../html-templates/art/Start-Here/SOW.html" target="_blank") SOW
          li
            a(href="../html-templates/art/Start-Here/syllabus.html" target="_blank") Syllabus
    section
      img(src="../../src/docs/test_site_imgs/cards_icon.svg" alt="")
      h2 Cards Theme
      div.link-container
        ul.template-items
          h3 Module Templates
          li
            a(href="../html-templates/cards/Module/one-column.html" target="_blank") One-Column
          li
            a(href="../html-templates/cards/Module/two-column.html" target="_blank") Two-Column
          li
            a(href="../html-templates/cards/Module/two-column-widget.html" target="_blank") Two-Column Widget
          li
            a(href="../html-templates/cards/Module/video-grid.html" target="_blank") Video Grid
        ul.template-items
          h3 Start Here Templates
          li
            a(href="../html-templates/cards/Start-Here/course-intro.html" target="_blank") Course Intro
          li
            a(href="../html-templates/cards/Start-Here/instructor-bio.html" target="_blank") Instructor Bio
          li
            a(href="../html-templates/cards/Start-Here/required-materials.html" target="_blank") Required Materials
          li
            a(href="../html-templates/cards/Start-Here/SOW.html" target="_blank") SOW
          li
            a(href="../html-templates/cards/Start-Here/syllabus.html" target="_blank") Syllabus
    section
      img(src="../../src/docs/test_site_imgs/comm_icon.svg" alt="")
      h2 Communication Theme
      div.link-container
        ul.template-items
          h3 Module Templates
          li
            a(href="../html-templates/communication/Module/one-column.html" target="_blank") One-Column
          li
            a(href="../html-templates/communication/Module/two-column.html" target="_blank") Two-Column
          li
            a(href="../html-templates/communication/Module/two-column-widget.html" target="_blank") Two-Column Widget
          li
            a(href="../html-templates/communication/Module/video-grid.html" target="_blank") Video Grid
        ul.template-items
          h3 Start Here Templates
          li
            a(href="../html-templates/communication/Start-Here/course-intro.html" target="_blank") Course Intro
          li
            a(href="../html-templates/communication/Start-Here/instructor-bio.html" target="_blank") Instructor Bio
          li
            a(href="../html-templates/communication/Start-Here/required-materials.html" target="_blank") Required Materials
          li
            a(href="../html-templates/communication/Start-Here/SOW.html" target="_blank") SOW
          li
            a(href="../html-templates/communication/Start-Here/syllabus.html" target="_blank") Syllabus
    section
      img(src="../../src/docs/test_site_imgs/culinary_icon.svg" alt="")
      h2 Culinary Theme
      div.link-container
        ul.template-items
          h3 Module Templates
          li
            a(href="../html-templates/culinary/Module/one-column.html" target="_blank") One-Column
          li
            a(href="../html-templates/culinary/Module/two-column.html" target="_blank") Two-Column
          li
            a(href="../html-templates/culinary/Module/two-column-widget.html" target="_blank") Two-Column Widget
          li
            a(href="../html-templates/culinary/Module/video-grid.html" target="_blank") Video Grid
        ul.template-items
          h3 Start Here Templates
          li
            a(href="../html-templates/culinary/Start-Here/course-intro.html" target="_blank") Course Intro
          li
            a(href="../html-templates/culinary/Start-Here/instructor-bio.html" target="_blank") Instructor Bio
          li
            a(href="../html-templates/culinary/Start-Here/required-materials.html" target="_blank") Required Materials
          li
            a(href="../html-templates/culinary/Start-Here/SOW.html" target="_blank") SOW
          li
            a(href="../html-templates/culinary/Start-Here/syllabus.html" target="_blank") Syllabus
    section
      img(src="../../src/docs/test_site_imgs/fashion_icon.svg" alt="")
      h2 Fashionista Theme
      div.link-container
        ul.template-items
          h3 Module Templates
          li
            a(href="../html-templates/fashionista/Module/one-column.html" target="_blank") One-Column
          li
            a(href="../html-templates/fashionista/Module/two-column.html" target="_blank") Two-Column
          li
            a(href="../html-templates/fashionista/Module/two-column-widget.html" target="_blank") Two-Column Widget
          li
            a(href="../html-templates/fashionista/Module/video-grid.html" target="_blank") Video Grid
        ul.template-items
          h3 Start Here Templates
          li
            a(href="../html-templates/fashionista/Start-Here/course-intro.html" target="_blank") Course Intro
          li
            a(href="../html-templates/fashionista/Start-Here/instructor-bio.html" target="_blank") Instructor Bio
          li
            a(href="../html-templates/fashionista/Start-Here/required-materials.html" target="_blank") Required Materials
          li
            a(href="../html-templates/fashionista/Start-Here/SOW.html" target="_blank") SOW
          li
            a(href="../html-templates/fashionista/Start-Here/syllabus.html" target="_blank") Syllabus
    section
      img(src="../../src/docs/test_site_imgs/journalism_icon.svg" alt="")
      h2 Journalism Theme
      div.link-container
        ul.template-items
          h3 Module Templates
          li
            a(href="../html-templates/journalism/Module/one-column.html" target="_blank") One-Column
          li
            a(href="../html-templates/journalism/Module/two-column.html" target="_blank") Two-Column
          li
            a(href="../html-templates/journalism/Module/two-column-widget.html" target="_blank") Two-Column Widget
          li
            a(href="../html-templates/journalism/Module/video-grid.html" target="_blank") Video Grid
        ul.template-items
          h3 Start Here Templates
          li
            a(href="../html-templates/journalism/Start-Here/course-intro.html" target="_blank") Course Intro
          li
            a(href="../html-templates/journalism/Start-Here/instructor-bio.html" target="_blank") Instructor Bio
          li
            a(href="../html-templates/journalism/Start-Here/required-materials.html" target="_blank") Required Materials
          li
            a(href="../html-templates/journalism/Start-Here/SOW.html" target="_blank") SOW
          li
            a(href="../html-templates/journalism/Start-Here/syllabus.html" target="_blank") Syllabus
    section
      img(src="../../src/docs/test_site_imgs/machine_icon.svg" alt="")
      h2 Machine Theme
      div.link-container
        ul.template-items
          h3 Module Templates
          li
            a(href="../html-templates/machine/Module/one-column.html" target="_blank") One-Column
          li
            a(href="../html-templates/machine/Module/two-column.html" target="_blank") Two-Column
          li
            a(href="../html-templates/machine/Module/two-column-widget.html" target="_blank") Two-Column Widget
          li
            a(href="../html-templates/machine/Module/video-grid.html" target="_blank") Video Grid
        ul.template-items
          h3 Start Here Templates
          li
            a(href="../html-templates/machine/Start-Here/course-intro.html" target="_blank") Course Intro
          li
            a(href="../html-templates/machine/Start-Here/instructor-bio.html" target="_blank") Instructor Bio
          li
            a(href="../html-templates/machine/Start-Here/required-materials.html" target="_blank") Required Materials
          li
            a(href="../html-templates/machine/Start-Here/SOW.html" target="_blank") SOW
          li
            a(href="../html-templates/machine/Start-Here/syllabus.html" target="_blank") Syllabus
    section
      img(src="../../src/docs/test_site_imgs/minimal_icon.svg" alt="")
      h2 Minimalist Theme
      div.link-container
        ul.template-items
          h3 Module Templates
          li
            a(href="../html-templates/minimalist/Module/one-column.html" target="_blank") One-Column
          li
            a(href="../html-templates/minimalist/Module/two-column.html" target="_blank") Two-Column
          li
            a(href="../html-templates/minimalist/Module/two-column-widget.html" target="_blank") Two-Column Widget
          li
            a(href="../html-templates/minimalist/Module/video-grid.html" target="_blank") Video Grid
        ul.template-items
          h3 Start Here Templates
          li
            a(href="../html-templates/minimalist/Start-Here/course-intro.html" target="_blank") Course Intro
          li
            a(href="../html-templates/minimalist/Start-Here/instructor-bio.html" target="_blank") Instructor Bio
          li
            a(href="../html-templates/minimalist/Start-Here/required-materials.html" target="_blank") Required Materials
          li
            a(href="../html-templates/minimalist/Start-Here/SOW.html" target="_blank") SOW
          li
            a(href="../html-templates/minimalist/Start-Here/syllabus.html" target="_blank") Syllabus
    section
      img(src="../../src/docs/test_site_imgs/resort_icon.svg" alt="")
      h2 Resort Theme
      div.link-container
        ul.template-items
          h3 Module Templates
          li
            a(href="../html-templates/resort/Module/one-column.html" target="_blank") One-Column
          li
            a(href="../html-templates/resort/Module/two-column.html" target="_blank") Two-Column
          li
            a(href="../html-templates/resort/Module/two-column-widget.html" target="_blank") Two-Column Widget
          li
            a(href="../html-templates/resort/Module/video-grid.html" target="_blank") Video Grid
        ul.template-items
          h3 Start Here Templates
          li
            a(href="../html-templates/resort/Start-Here/course-intro.html" target="_blank") Course Intro
          li
            a(href="../html-templates/resort/Start-Here/instructor-bio.html" target="_blank") Instructor Bio
          li
            a(href="../html-templates/resort/Start-Here/required-materials.html" target="_blank") Required Materials
          li
            a(href="../html-templates/resort/Start-Here/SOW.html" target="_blank") SOW
          li
            a(href="../html-templates/resort/Start-Here/syllabus.html" target="_blank") Syllabus
    section
      img(src="../../src/docs/test_site_imgs/university_icon.svg" alt="")
      h2 University Theme
      div.link-container
        ul.template-items
          h3 Module Templates
          li
            a(href="../html-templates/university/Module/one-column.html" target="_blank") One-Column
          li
            a(href="../html-templates/university/Module/two-column.html" target="_blank") Two-Column
          li
            a(href="../html-templates/university/Module/two-column-widget.html" target="_blank") Two-Column Widget
          li
            a(href="../html-templates/university/Module/video-grid.html" target="_blank") Video Grid
        ul.template-items
          h3 Start Here Templates
          li
            a(href="../html-templates/university/Start-Here/course-intro.html" target="_blank") Course Intro
          li
            a(href="../html-templates/university/Start-Here/instructor-bio.html" target="_blank") Instructor Bio
          li
            a(href="../html-templates/university/Start-Here/required-materials.html" target="_blank") Required Materials
          li
            a(href="../html-templates/university/Start-Here/SOW.html" target="_blank") SOW
          li
            a(href="../html-templates/university/Start-Here/syllabus.html" target="_blank") Syllabus
    section
      img(src="../../src/docs/test_site_imgs/writing_icon.svg" alt="")
      h2 Writing Theme
      div.link-container
        ul.template-items
          h3 Module Templates
          li
            a(href="../html-templates/writing/Module/one-column.html" target="_blank") One-Column
          li
            a(href="../html-templates/writing/Module/two-column.html" target="_blank") Two-Column
          li
            a(href="../html-templates/writing/Module/two-column.html" target="_blank") Two-Column Widget
          li
            a(href="../html-templates/writing/Module/video-grid.html" target="_blank") Video Grid
        ul.template-items
          h3 Start Here Templates
          li
            a(href="../html-templates/writing/Start-Here/course-intro.html" target="_blank") Course Intro
          li
            a(href="../html-templates/writing/Start-Here/instructor-bio.html" target="_blank") Instructor Bio
          li
            a(href="../html-templates/writing/Start-Here/required-materials.html" target="_blank") Required Materials
          li
            a(href="../html-templates/writing/Start-Here/SOW.html" target="_blank") SOW
          li
            a(href="../html-templates/writing/Start-Here/syllabus.html" target="_blank") Syllabus