@charset "utf-8";
@use "variables";

body {
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0;
}

@media screen and (max-device-width: 480px) {
  body {
    -webkit-text-size-adjust: none;
  }
}

//ONE COLUMN TEMPLATE
#one-column {
  display: grid;
  grid-row-gap: 10px;
  grid-template-areas:
    "header"
    "body"
    "footer";
  padding: 15px 2.5%;
  width: 95%;
}

.header,
#content-wrapper,
footer {
  margin: 0 auto;
  max-width: 998px;
  width: 100%;
}

#content-wrapper {
  grid-area: body;

  .content-body {
    width: 96%;
    width: -moz-available;
    width: -webkit-fill-available;
  }
}

footer {
  grid-area: footer;

  .footnotes {
    padding: 10px;
  }
}

//TWO COLUMN TEMPLATE
#two-column,
#two-col-widget {
  display: grid;
  grid-row-gap: 10px;
  justify-content: center;
  padding: 10px 2.5%;
  width: 95%;
}

#two-column {
  grid-template-areas:
    "header"
    "body"
    "second-column"
    "footer";
}

#two-col-widget {
  display: grid;
  grid-template-areas:
    "header"
    "body"
    "second-column"
    "column-widget"
    "footer";
}

#two-column .header,
#two-col-widget .header,
#two-column footer,
#two-col-widget footer {
  max-width: 1170px;
}

#two-column #content-wrapper,
#two-col-widget #content-wrapper,
#second-column,
#column-widget {
  display: flex;
  flex-flow: column;
  height: 100%;
}

#two-column .content-body:last-child,
#two-col-widget .content-body:last-child {
  flex-grow: 1;
}

#column-widget {
  grid-area: column-widget;
}

#second-column {
  grid-area: second-column;
}

@media screen and (min-width: 700px) {
  #two-column {
    grid-template-areas:
      "header header"
      "body second-column"
      "footer footer";
  }

  #two-col-widget {
    grid-template-areas:
      "header header"
      "body column-widget"
      "body second-column"
      "footer footer";
  }

  #two-column,
  #two-col-widget {
    grid-template-columns: minmax(360px, 830px) 330px;
    grid-column-gap: 10px;
  }
}

//THREE COLUMN TEMPLATE
#three-column {
  display: grid;
  grid-row-gap: 10px;
  grid-template-areas:
    "header"
    "body"
    "second-column"
    "third-column"
    "quote-area"
    "footer";
  justify-content: center;
  padding: 30px 0;
  width: 95%;
  margin: 0 2.5%;
}

#third-column {
  grid-area: third-column;
}

#three-column .header,
#three-column footer {
  max-width: 100%;
}

#three-column #content-wrapper,
#second-column,
#third-column {
  display: flex;
  flex-flow: column;
  height: 100%;
  max-width: 100%;
}

#three-column .content-body:last-child {
  flex-grow: 1;
}

@media screen and (min-width: 700px) {
  #three-column {
    grid-template-areas:
      "header header"
      "body body"
      "second-column third-column"
      "quote-area quote-area"
      "footer footer";
    grid-template-columns: minmax(300px, 45%) minmax(300px, 45%);
    grid-column-gap: 2.5%;
  }
}

//HEADER
.header {
  grid-area: header;
  position: relative;
  text-align: center;

  .text-container {
    padding: 10px 0 25px 0;

    &:is(h1, h2, h3, h4, p) {
      line-height: 1.2;
      margin: auto;
      max-width: 600px;
    }

    p {
      font-size: 1.255em;
    }

    ul,
    ol {
      margin-left: 30%;
      text-align: left;

      li {
        color: rgba(255, 255, 255, 1);

        &::before,
        &::after {
          color: rgba(255, 255, 255, 1);
        }
      }
    }
  }
}

@media screen and (min-width: 730px) {
  .header .text-container {
    &:is(h1, h2, h3, h4, p) {
      max-width: 760px;
    }

    &:is(h1, h2, h3, h4) {
      line-height: 1.1;
    }

    p {
      line-height: 1.155;
    }
  }
}

@media screen and (min-width: 998px) {
  .header .text-container {
    &:is(h1, h2, h3, h4, p) {
      max-width: 1160px;
    }

    &:is(h1, h2, h3, h4) {
      line-height: 1.155;
    }
  }
}

//SYLLABUS HEADER
.syllabus-header {
  background-color: white;
  justify-content: center;
  text-align: center;

  img {
    border-bottom: none;
    box-shadow: none;
    margin: 20px auto !important;
    max-width: 290px;
  }

  h1 {
    font-size: 3.2em;
    margin-bottom: 15px !important;
  }

  h2 {
    margin-top: 2px;
    text-align: center;
  }

  dl {
    display: flex;
    flex-wrap: wrap;
    margin: 5px auto;
    padding: 0px;
    justify-content: center;
    width: fit-content;

    dt {
      display: block;
      margin: 0px 5px;
      padding: 0px;
    }
  }
}

//CONTENT BODY
.content-body {
  margin-bottom: 10px;
  padding: 15px;

  h2:first-child,
  h3:first-child {
    margin: 0 0 20px 0;
  }
}

//INTERIOR ELEMENTS
video {
  object-fit: fill;
}

.edit {
  color: rgba(178, 3, 3, 1);
  font-weight: bold;
}

.highlight {
  background-color: transparent;
  background-image: linear-gradient(to bottom, #b4e7f8, #b4e7f8);
  border-bottom: 2px solid #b4e7f8;
  border-left: 2px solid #b4e7f8;
  border-right: 2px solid #b4e7f8;
  border-top: 2px solid #b4e7f8;
}

.monospace {
  font-family: "Courier New", Courier, monospace;
}

hr {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  margin: 10px;
}

@media screen and (min-width: 768px) {
  hr {
    margin: 20px 0;
  }
}

//IMAGES
img {
  border-style: none;
  display: block;
  height: auto;
  margin: 0 !important;
  max-width: 100%;

  .center {
    display: block;
    margin: 25px auto;
  }
}

//FIGURES
figure {
  margin: 0;

  figcaption,
  .caption {
    border-bottom: 1px solid rgba(0, 0, 0, 0.045);
    color: #666666;
    font-size: 0.85em;
    font-style: italic;
    padding: 0 0 5px 0;
  }

  .label {
    border-radius: 1px;
    color: rgba(255, 255, 255, 1);
    display: inline;
    font-size: 0.7em;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    padding: 0.2em 0.6em 0.3em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
  }

  .label-default {
    background-color: rgba(26, 97, 143, 1);
  }

  .label-muted {
    background-color: rgba(0, 0, 0, 0.15);
    color: #232323;
  }
}

//LISTS
ul,
ol {
  list-style-position: outside;
  margin: 0 0 10px 10px;
  padding: 0 0 0 20px;
}

ol li {
  margin-left: 20px;
  padding-left: 5px;
}

li {
  margin-bottom: 10px;
}

ul > li {
  list-style-type: none;
}

ul li {
  padding-left: 8px;
  position: relative;
}

ul > li::before {
  color: rgba(5, 82, 143, 1);
  content: "\F101";
  display: inline-block;
  font-family: "FontAwesome";
  font-size: 1em;
  font-weight: 400;
  left: 0;
  margin: 0 5px 0 -15px;
  opacity: 1;
  position: absolute;
}

@media screen and (min-width: 660) {
  li {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 768px) {
  ul,
  ol {
    margin: 0 0 10px 20px;
    padding: 0 0 0 20px;
  }
  ol li {
    margin-left: 20px;
  }
}

//Two column lists
ul.two-col,
ol.two-col {
  columns: 1;
  padding-right: 20px;
}

@media screen and (min-width: 700px) {
  ul.two-col,
  ol.two-col {
    columns: 2;
  }
}

//Three column lists
ul.three-col,
ol.three-col {
  columns: 1;
  padding-right: 20px;
}

@media screen and (min-width: 400px) {
  ul.three-col,
  ol.three-col {
    columns: 2;
  }
}

@media screen and (min-width: 700px) {
  ul.three-col,
  ol.three-col {
    columns: 3;
  }
}

dt {
  display: block;
  float: none;
  min-width: 100px;
  margin-right: 5px;
  font-weight: 700;
}

dd {
  margin: 0 0 15px 0 !important;
}

a {
  word-break: break-word;
}

a,
a:visited,
.toggle-footnotes {
  background-color: transparent;
  color: rgba(0, 91, 226, 1);
  text-decoration: underline;
}

a:hover,
a:active,
.toggle-footnotes:hover {
  background-color: transparent;
  color: rgba(0, 57, 143, 1);
  text-decoration: underline;
}

//TOGGLE ACCORDION
.toggle-btn:hover,
.toggle-footnotes:hover {
  cursor: pointer;
  text-decoration: none;
}

.toggle-footnotes {
  margin: 5px;
  text-decoration: none;
}

.toggle-btn-content,
.footnotes {
  display: none;
}

.accordion {
  margin-bottom: 15px;

  .accordion-title {
    background-color: rgba(0, 0, 0, 0.07);
    padding: 10px;

    p {
      margin: 0;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  .accordion-content {
    border: 1px solid rgba(0, 0, 0, 0.07);
    padding: 10px;

    p {
      margin: 0;
    }
  }

  .arrow-right:after {
    background-image: url("https://d2l.pima.edu/shared/Templates/images/icons/arrow-right.svg");
    content: "";
    display: inline-block;
    height: 16px;
    margin-left: 5px;
    width: 16px;
  }

  .arrow-down:after {
    background-image: url("https://d2l.pima.edu/shared/Templates/images/icons/arrow-right.svg");
    content: "";
    display: inline-block;
    height: 16px;
    margin-left: 5px;
    transform: rotate(90deg);
    width: 16px;
  }
}

//BUTTONS
button {
  background-color: rgba(46, 94, 142, 1);
  color: rgba(255, 255, 255, 1);
  border: none;
  font-size: 1em;
  margin: 5px;
  padding: 10px;

  button:hover {
    background-color: rgba(28, 57, 87, 1);
  }
}

.btn {
  background-color: rgba(46, 94, 142, 1);
  color: rgba(255, 255, 255, 1);
  border: 3px solid rgba(46, 94, 142, 1);
  border-radius: 0.3em;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 5px 10px;
  margin: 5px;
  text-decoration: none;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  vertical-align: middle;

  &:hover {
    background-color: rgba(28, 57, 87, 1);
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
  }
}

//Custom .btn colors
.btn-primary {
  background-color: rgba(4, 85, 148, 1);
  border-color: rgba(4, 85, 148, 1);
  color: rgba(255, 255, 255, 1);

  &:hover {
    background-color: rgba(3, 64, 111, 1);
    border-color: rgba(3, 64, 111, 1);
    color: rgba(255, 255, 255, 1);
  }
}

.btn-secondary {
  background-color: rgba(247, 144, 45, 1);
  border-color: rgba(247, 144, 45, 1);
  color: rgba(255, 255, 255, 1);

  &:hover {
    background-color: rgba(236, 119, 9, 1);
    border-color: rgba(236, 119, 9, 1);
    color: rgba(255, 255, 255, 1);
  }
}

.btn-tertiary {
  background-color: rgba(0, 174, 239, 1);
  border-color: rgba(0, 174, 239, 1);
  color: rgba(255, 255, 255, 1);

  &:hover {
    background-color: rgba(0, 146, 199, 1);
    border-color: rgba(0, 146, 199, 1);
    color: rgba(255, 255, 255, 1);
  }
}

.btn-gray {
  background-color: rgba(128, 130, 133, 1);
  border-color: rgba(128, 130, 133, 1);
  color: rgba(255, 255, 255, 1);

  &:hover {
    background-color: rgba(108, 110, 112, 1);
    border-color: rgba(108, 110, 112, 1);
  }
}

//Button sizes
.btn-lg {
  padding: 25px 30px !important;
}

.btn-xl {
  padding: 35px 50px !important;
  font-size: 1.5em;
  border-radius: 0.3em;
  line-height: 1.5;
  border-width: 0.125em;
}

//.btn support classes
.outline {
  background-color: transparent;
  color: rgba(13, 13, 13, 1);
}

.pill {
  border-radius: 10em;
  padding: 5px 20px;
}

.full-width {
  display: block;
  width: 100%;
  padding-left: 0% !important;
  padding-right: 0% !important;
  margin-left: 0%;
  margin-right: 0%;
}

.list-group {
  margin: 0 0 25px 0;
  padding: 0;

  .list-group-item {
    margin: 0;
    padding: 5px 0;

    &:not(:last-child) {
      border-bottom: 1px solid rgba(51, 51, 51, 0.0855);
    }
  }
}

ul li.list-group-item {
  list-style-type: none;

  &::before {
    content: none;
  }
}

.text-center {
  text-align: center;
}

//TABLES
table {
  border-collapse: collapse !important;
  color: rgba(255, 255, 255, 1);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  margin: 40px 20px 15px 20px;
  text-rendering: optimizeLegibility;

  th {
    font-size: 1.0625em;
    font-weight: bold;
    line-height: normal;
    padding: 5px;
    text-align: left;
    vertical-align: top;
    border: none;
  }

  thead,
  tr,
  td {
    border: 1px solid rgba(0, 0, 0, 0.155);
    vertical-align: top;
  }

  caption {
    font-size: 1.3rem;
    margin: 0.25rem;
    margin-bottom: 0.25rem;
  }

  thead th {
    font-weight: 600;
  }

  thead th,
  tbody td {
    font-size: 1rem;
    padding: 0.8rem;
  }

  tbody tr {
    color: rgba(0, 0, 0, 1);
    font-size: 1rem;
    padding: 0.8rem;
  }
}

table.display-lg td,
table.display-lg th {
  font-size: 1em;
  padding: 10px 10px 20px 10px;
}

@media screen and (min-width: 730px) {
  table {
    margin: 20px 0 5px 0;
  }
}

@media screen and (min-width: 998px) {
  /* zebra stripes */
  tr:nth-child(even) {
    background: rgba(51, 51, 51, 0.05);
  }
}

//Responsive table CSS for mobile
@media screen and (max-width: 768px) {
  table.display-lg {
    background: none;
    background-color: #fff;
    display: inline-table !important; /*fixes table snapping in all browsers, including ie*/
    margin: 10px auto;

    thead {
      display: none;
    }

    tbody td {
      display: block;
      padding: 0.6rem;

      &:first-child {
        background: rgba(0, 0, 0, 0.7);
        color: #ffffff;
      }

      &::before {
        content: attr(data-th) ": ";
        display: inline-block;
        font-weight: bold;
        padding-right: 5px;
        width: auto;
      }
    }
  }
}

td#alignright {
  text-align: right;
}

footer ul {
  margin: 10px;
}

.footnotes {
  border-top: 1px solid rgba(0, 0, 0, 0.09);
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

table.two-column-table {
  border-collapse: collapse;
  margin: 0;

  tr {
    border-bottom: 15px solid transparent !important;
    display: table-row;

    td {
      padding: 0;
      vertical-align: top;

      &:first-child {
        color: rgba(0, 0, 0, 0.45);

        &::after {
          content: ":";
        }
      }

      &:nth-child(2) {
        padding-left: 5%;
        width: 100%;
      }
    }

    &:nth-child(even) {
      background: transparent;
    }
  }

  h3 {
    margin-top: 0;
  }

  ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;

    li:before {
      color: rgba(29, 74, 105, 1);
      content: "\F101";
      font-family: "FontAwesome";
      font-size: 1em;
      font-weight: 400;
      margin-right: 10px;
      opacity: 1;
    }
  }
}

table.two-column-table,
table.two-column-table tr,
table.two-column-table tr td {
  border: none;
}
