/*-------------------------
LEGACY COURSES v1.0  -- 05/15/2020
The section that follows remains here due to legacy courses.
-------------------------*/

@use "variables";

#main {
  margin: 10px auto;
  max-width: 95%;
}

@media screen and (min-width: 660px) {
  #main {
    margin: 15px auto;
  }
}

@media screen and (min-width: 768px) {
  #main {
    margin: 20px auto;
    max-width: 998px;
    padding: 5px;
  }
}

//HEADER
.header {
  margin-bottom: 10px;

  img {
    margin: 0 !important;
  }
}

//VIDEO CONTAINER
///Moved to widgets.css
.video-container {
  margin: 30px 0;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

//CARDS
///Moved to widgets.css
.card-horizontal {
  margin-bottom: 45px;

  > :first-child {
    flex-basis: 70%;
    margin-right: 2%;
  }

  > :last-child {
    flex-basis: 30%;
  }

  > .card-body {
    flex-basis: 70%;
    margin-right: 2%;
  }

  > .card-img {
    flex-basis: 30%;
  }

  h1,
  h2,
  h3,
  h4 {
    margin-top: 0;
  }

  img {
    margin: 0;
  }
}

@media screen and (min-width: 730px) {
  .card-horizontal {
    display: flex;
    justify-content: flex-start;
  }
}

//BORDER
///Moved to widgets.css
.border {
  background-color: rgba(0, 174, 239, 0.06);
  border-left: 3px solid rgba(4, 85, 148, 1);
  margin: 25px 0;
  padding: 10px;

  h1,
  h2,
  h3,
  h4 {
    font-weight: 700;
    margin: 0 0 5px 0;
  }
}

@media screen and (min-width: 768px) {
  .border {
    padding: 15px;
  }
}

.border-yellow {
  background-color: #fcf9c3 !important;
  border: none;
  border-left: none;
  border-radius: 0;
  border-top: 2px solid #fdc82e !important;
  overflow: hidden;
  position: relative;

  &::before {
    border-color: #fcf983 #fff;
    border-style: solid;
    border-width: 18px 18px 0 0;
    bottom: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
    content: "";
    position: absolute;
    right: 0;
  }

  h1,
  h2,
  h3,
  h4,
  p {
    color: #000000;
    margin: 0 0 10px 0;
  }
}

//SIDE BY SIDE
///Moved to widgets.css
.side-by-side {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0 20px 0;
}

.side-by-side-item {
  flex-basis: 100%;
  margin: 10px 0;
  padding: 0;

  figure {
    margin: 0;
  }
}

@media screen and (min-width: 730px) {
  .side-by-side-item {
    flex-basis: 49%;
    margin: 20px 0;
    padding: 3px;
  }
}

//TWO COLUMN TEMPLATE
#main-two-column {
  margin: 0 auto;
  max-width: 1170px;
  padding: 5px;

  .header {
    max-width: 1170px;
  }

  .content-body {
    align-self: stretch;
    display: block;
    flex-basis: 100%;
    margin: 0;
    padding: 5px 20px 5px 20px;
    vertical-align: top;
  }
}

.two-column-wrapper {
  align-items: stretch;
  display: block;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 730px) {
  .two-column-wrapper {
    align-items: flex-start;
    align-content: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1170px;
    margin: auto;
  }
}

@media screen and (min-width: 730px) {
  #main-two-column .content-body {
    display: block;
    flex-basis: 65%;
    padding: 10px 20px;
  }
}

@media screen and (min-width: 998px) {
  #main-two-column .content-body {
    flex-basis: 68%;
  }
}

//SIDEBAR
.sidebar {
  align-self: stretch;
  flex-basis: 100%;
  margin: 0;
  vertical-align: top;

  h4 {
    margin: 0 0 10px 0;
  }

  ul {
    margin: 0;
  }

  .border {
    margin: 0;
  }

  .sidebar-item {
    overflow: hidden;
    padding: 10px;

    &:not(:last-child) {
      margin: 0 0 5px 0;
    }
  }
}

@media screen and (min-width: 730px) {
  .sidebar {
    flex-basis: 28%;
    margin: 0;
  }
}

@media screen and (min-width: 998px) {
  .sidebar {
    flex-basis: 28%;
  }
}
