@use "variables";

html {
  font-size: 18px;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.35;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(4, 85, 148, 1);
  font-family: "Lato", sans-serif;
  padding-left: 0px;
}

h1 {
  font-size: 2.3em;
  font-weight: 900;
  margin-bottom: 5px;
  margin-top: 0;
}

h2 {
  font-size: 1.8em;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 45px;
}

h3 {
  font-size: 1.3em;
  font-weight: 400;
  margin-bottom: 5px;
  margin-top: 35px;
}

h4,
.font-size-h4 {
  font-size: 1.122em;
  font-weight: 400;
  margin-bottom: 5px;
  margin-top: 15px;
}

h4 {
  &:first-child {
    margin-top: 0px;
  }
}

h5,
h6 {
  color: #000;
  font-size: 1em;
  font-weight: 300;
  margin-bottom: 5px;
  margin-top: 30px;
}

p {
  color: #000;
  font-size: 1em;
  letter-spacing: -0.002em;
  line-height: 1.35;
  margin: 0 0 15px 0;

  &.lead {
    font-size: 1.225em;
    font-weight: 400;
    letter-spacing: -0.002em;
  }
}

.font-size-h3 {
  font-size: 1.463em;
  font-weight: 300;
  margin-bottom: 5px;
  margin-top: 30px;
}

blockquote {
  font-family: "Lato", sans-serif;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 1.8em;
  }

  h3 {
    font-size: 1.463em;
  }

  .font-size-h3 {
    font-size: 1.463em;
  }
}
