// PCC Brand Colors
$color-pcc-primary: rgba(4, 85, 148, 1);
$color-pcc-secondary: rgba(247, 144, 45, 1);
$color-pcc-tertiary: rgba(0, 174, 239, 1);
$color-pcc-black: rgba(0, 0, 0, 1);
$color-pcc-dkgrey: rgba(128, 128, 128, 1);
$color-pcc-ltgrey: rgba(227, 227, 227, 1);
$color-pcc-primary-hover: rgba(3, 64, 111, 1);
$color-pcc-secondary-hover: rgba(236, 119, 9, 1);
$color-pcc-tertiary-hover: rgba(0, 146, 199, 1);
$color-pcc-white: rgba(255, 255, 255, 1);