// This document houses all CSS for all course widgets

@use "variables";

//CARDS
.card-horizontal {
  margin-bottom: 45px;

  > :first-child {
    flex-basis: 70%;
    margin-right: 2%;
  }

  > :last-child {
    flex-basis: 30%;
  }

  > .card-body {
    margin-right: 2%;
    flex-basis: 70%;
  }

  > .card-img {
    flex-basis: 30%;
  }

  h1,
  h2,
  h3,
  h4 {
    margin-top: 0;
  }

  img {
    margin: 0;
  }
}

@media screen and (min-width: 730px) {
  .card-horizontal {
    display: flex;
    justify-content: flex-start;
  }
}

//SIDE BY SIDE
.side-by-side {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0 20px 0;
}

.side-by-side-item {
  flex-basis: 100%;
  margin: 10px 0;
  padding: 0;

  :is(figure, img) {
    width: 100%;
    margin: 0 auto !important;
  }
}

@media screen and (min-width: 730px) {
  .side-by-side-item {
    flex-basis: 49%;
    margin: 0;

    :is(figure, img) {
      max-width: none;
      margin-left: auto !important;
    }
  }
}

//VIDEO CONTAINER
.video-container {
  height: 0;
  margin: 30px 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 35px;
  position: relative;

  iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.media-container {
  border: 1px solid rgba(51, 51, 51, 0.1);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 100%;
  margin: 25px auto;
  padding: 5px;

  &.reverse {
    flex-direction: column-reverse;
  }

  .media-object {
    overflow: hidden;
    padding-top: 35px;
    padding-bottom: 55%;
    position: relative;
    width: 100%;

    iframe {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .media-info {
    padding: 15px 0;
    width: 100%;

    p {
      margin: 0;
    }

    .ratio-16x9 {
      padding-bottom: 56.25% !important;
    }
  }
}

@media screen and (min-width: 890px) {
  .media-container {
    max-width: 90%;
  }
}

.ratio-4x3 {
  padding-bottom: 75% !important;
}

.ratio-4x3-content {
  padding-bottom: 78% !important;
}

.ratio-3x2 {
  padding-bottom: 66.66% !important;
}

.ratio-8x5 {
  padding-bottom: 62.5% !important;
}

.ratio-1x1 {
  padding-bottom: 100% !important;
}

//BORDER
.border {
  background-color: rgba(0, 174, 239, 0.06);
  border-left: 3px solid rgba(4, 85, 148, 1);
  margin: 25px 0;
  padding: 10px;

  h1,
  h2,
  h3,
  h4 {
    margin: 0 0 5px 0;
  }
}

@media screen and (min-width: 768px) {
  .border {
    padding: 15px;
  }
}

.border-yellow {
  background-color: rgba(252, 249, 195, 1) !important;
  border: none;
  border-left: none;
  border-radius: 0;
  border-top: 2px solid rgba(253, 201, 46, 1) !important;
  overflow: hidden;
  position: relative;

  &::before {
    border-width: 18px 18px 0 0;
    border-style: solid;
    border-color: rgba(252, 249, 195, 1) rgba(255, 255, 255, 1);
    bottom: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
    content: "";
    position: absolute;
    right: 0;
  }

  h1,
  h2,
  h3,
  h4,
  p {
    color: rgba(0, 0, 0, 1);
    margin: 0 0 10px 0;
  }
}

//BLOCKQUOTE
blockquote {
  font-size: 1.2em;
  line-height: 1.3;
  margin: 60px 0;
  padding: 10px;
  position: relative;

  p,
  ul li,
  ol li {
    color: rgba(57, 62, 84, 1);
  }

  &::before {
    content: "\F10D";
    font-family: "FontAwesome";
    font-size: 1em;
    position: absolute;
    right: 50%;
    top: -20px;
  }

  &::after {
    bottom: -20px;
    content: "\F10E";
    font-family: "FontAwesome";
    font-size: 1em;
    position: absolute;
    right: 50%;
  }
}

@media screen and (min-width: 730px) {
  blockquote {
    padding: 20px 40px;
    margin: 40px 0;

    &::before {
      top: -5px;
    }

    &::after {
      bottom: -10px;
    }
  }
}

.border {
  > blockquote {
    border-bottom: none;
  }
}

//MENU TABLE
.menu-table {
  box-shadow: 4px 5px 20px 0px rgba(187, 187, 187, 1);
  margin: 20px;
  padding: 15px;

  table {
    background: transparent;
    margin: 20px auto 5px auto;

    caption {
      color: rgba(4, 85, 148, 1);
      padding-top: 10px;
    }
  }

  th {
    color: rgba(0, 0, 0, 1);
    font-size: 0.85em !important;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  td {
    background-image: linear-gradient(to right, rgba(200, 200, 200, 1) 33%, rgba(200, 200, 200, 0) 0%);
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 6px 2px;
    padding-bottom: 5px !important;
    padding-top: 10px !important;

    &:nth-child(even) {
      margin-bottom: 20px;
    }

    &:first-child {
      color: rgba(4, 85, 148, 1) !important;
    }
  }

  thead,
  tr,
  td,
  th {
    background-color: transparent !important;
    border: none;
  }

  h2 {
    border-bottom: none;
    text-align: center;
  }
}

.menu-table-inner {
  border: 2px solid rgba(4, 85, 148, 1);
  padding: 20px 10px;
  position: relative;
}

@media screen and (min-width: 769px) {
  .menu-table {
    th:nth-child(2),
    th:nth-child(3),
    td:nth-child(2),
    td:nth-child(3) {
      text-align: right;
    }
    tbody tr td:first-child {
      color: black !important;
    }
  }
}

//CALL-OUT
.call-out {
  background-color: rgba(4, 85, 148, 0.2);
  margin: 25px 0;
  padding: 10px;

  &::before {
    background: rgba(4, 85, 148, 1);
    color: rgba(255, 255, 255, 1);
    content: "Explore More";
    display: block;
    font-family: "Lato", Helvetica, sans-serif;
    font-size: 1.3em;
    font-weight: 700;
    margin: -10px -10px 10px -10px;
    padding: 5px;
    text-align: center;
  }
}

//INVITE CARD
.invite {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 4px 5px 10px 0px rgba(187, 187, 187, 1);
  margin: 20px;
  padding: 15px;
  text-align: center;

  h2,
  h3,
  h4 {
    border-bottom: none;
    margin-top: 20px;
  }
}

.invite-inner {
  border: 2px solid rgba(4, 85, 148, 1);
  padding: 5px 15px 5px 15px;
  position: relative;
}

.invite-line {
  margin: -5px auto 0px auto;
}

.content-body .invite-line,
.column-right .invite-line {
  margin: -5px auto;
}

//FOOTER GALLERY
.footer-gallery {
  background-color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0 0 2px 2px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.03);
  margin: 0px auto 15px auto;
}

.row {
  display: block;
  margin: 0 auto;
  padding: 0px;
}

.column {
  margin: 10px;
  max-width: 100%;
  padding: 10px;

  img {
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

@media screen and (min-width: 600px) {
  .row {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0px;
  }

  .column {
    height: 20vw;
    margin: 0;
  }
}

@media screen and (min-width: 730px) {
  .column {
    height: 15vw;
  }

  .footer-gallery {
    width: 100%;
  }
}

@media screen and (min-width: 1038px) {
  .column {
    height: 200px;
    width: 300px;
  }
}

//FLASHCARDS EDITS
.card {
  width: 100% !important;
}

#nav_btn {
  display: flex;
  justify-content: center;
  margin: auto;
  position: relative;
  text-align: center;
  white-space: nowrap;

  button {
    background-color: rgba(4, 85, 148, 1);
    border-radius: 25px;
    display: flex;
    height: 40px;
    margin: auto;
    text-align: center;
    width: 40px;

    &:hover {
      background-color: rgba(4, 62, 107, 1);
    }
  }
}

.icon-next:before {
  color: rgba(255, 255, 255, 1) !important;
  content: "\F061";
  font-family: "FontAwesome";
  margin-left: auto !important;
  margin-right: auto !important;
}

.icon-prev:before {
  color: rgba(255, 255, 255, 1) !important;
  content: "\F060";
  font-family: "FontAwesome";
  margin-left: auto !important;
  margin-right: auto !important;
}

.icon-flip:before {
  color: rgba(255, 255, 255, 1) !important;
  content: "\f01E";
  font-family: "FontAwesome";
  margin-left: auto !important;
  margin-right: auto !important;
}

//CONTENT SEPARATOR
.separator {
  content: url("https://d2l.pima.edu/shared/Templates/images/widgets/separator.svg");
  padding: 30px 0px 40px 0px;
}

//IMAGE BORDER
.imgBorder {
  border: 1px solid rgba(221, 221, 221, 1);
  margin-left: 20px;
  margin-right: 0px;
  padding: 10px;
}

/*///TOOLTIP///*/
/*
This is a tooltip that can be used with content, pictures, and video. The first edition of this requires individual positioning adjustments to be mobile-friendly, based on content.

Associated HTML lives in ../html-templates/_test-theme/one-column.html
*/
.tooltip {
  border-bottom: 3px dotted rgba(58, 91, 104, 0.3);
  color: rgba(58, 91, 104, 1);
  display: inline-block;
  font-weight: 900;
  position: relative;
  z-index: 1;

  &:hover {
    color: rgba(58, 91, 104, 0.5);

    > .tip-hover {
      display: block;
    }

    .caption {
      display: inline-block;
      font-style: italic;
      font-size: 0.8em;
      font-weight: 900;
      padding-bottom: 10px !important;
    }
  }

  &:hover {
    &:after {
      border-color: transparent transparent rgba(221, 224, 228, 1) transparent;
      border-width: 15px;
      border-style: solid;
      content: "";
      filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.2));
      left: 50%;
      margin-left: -5px;
      position: absolute;
      top: 80%;
      z-index: -1;
    }
  }

  &.hidden {
    &:after {
      display: none;
    }
  }
}

.tip-hover {
  background-color: rgba(221, 224, 228, 1);
  border-radius: 6px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
  color: rgba(40, 44, 46, 1);
  display: none;
  font-weight: 400 !important;
  margin-left: -60px;
  padding: 5px;
  position: absolute;
  text-align: center;
  top: 45px;
  transition: opacity 0.3s;
  width: max-content;

  img {
    padding: 10px;
    max-width: fit-content;
  }

  .video-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 2%;
    overflow: hidden;
    width: 96%;

    iframe {
      border: none;
      flex-grow: 1;
      margin: 0;
      padding: 0;
    }
  }
}

// HORIZONTAL GRID WIDGET
.horizontal-display {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 10px;
  margin-bottom: 1rem;
}

@media screen and (min-width: 500px) {
  .fixed-col2 {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
  }

  .fixed-col3 {
    grid-template-columns: repeat(3, minmax(150px, 1fr));
  }

  .fixed-col4 {
    grid-template-columns: repeat(4, minmax(150px, 1fr));
  }
}

//VIDEO GRID WIDGET
#video-grid {
  display: grid;
  grid-row-gap: 10px;
  grid-template-areas:
    "header"
    "body"
    "footer";
  padding: 15px 2.5%;
  width: 95%;

  #content-wrapper {
    max-width: 1095px;
    z-index: 1;
  }
}

/*
#video-wrapper is the deprecated ID used for the full video grid HTML Template page instead of 'One Column'
.video-widget is the ID used for the same widget to live INSIDE of 'One Column'
All Video Grid template pages are updated to have the widget live inside.
*/
#video-wrapper,
.video-widget {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#video-wrapper .video-card,
.video-widget .video-card {
  background: rgba(255, 255, 255, 1);
  border-top: 1px solid rgba(26, 97, 143, 0.3);
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  height: 430px;
  margin: 15px;
  padding: 10px 20px;
  position: relative;
  transition: 0.2s;
  width: 330px;
}

.video-widget {
  .video-card {
    width: 300px;
  }

  .card-content {
    width: 260px;
  }
}

/*Creates video grid to only be two cards wide */
.two-card-col .video-card {
  margin: 25px !important;
}

#video-wrapper .video-card h2,
.video-widget .video-card h2 {
  margin-top: 5px;
}

#video-wrapper .video-card p,
.video-widget .video-card p {
  font-size: 0.9em;
}

#video-wrapper .video-card a.btn,
.video-widget .video-card a.btn {
  display: block;
  margin: 15px auto 5px;
  width: fit-content;
}

#video-wrapper .card-content,
.video-widget .card-content {
  bottom: 15px;
  position: absolute;
  width: 290px;
}

#video-wrapper .video-container,
.video-widget .video-container,
#video-wrapper .media-container,
.video-widget .media-container {
  margin: 10px auto;
}

.video-card-header {
  font-size: 1.1em;
  font-weight: 900;
  margin-top: 10px;
  text-align: center;
}

//HOVER
@media all and (min-width: 900px) {
  #video-wrapper:hover .video-card,
  .video-widget:hover .video-card {
    opacity: 0.6;
    transform: scale(0.98);
  }

  #video-wrapper .video-card:hover,
  .video-widget .video-card:hover {
    opacity: 1;
    transform: scale(1.02);
  }
}

/* ASSIGNMENT WIDGET */
#second-column ul.assignments-widget,
#second-column ol.assignments-widget {
  margin: 0;
  padding: 0;
}

#content-wrapper ul.assignments-widget,
#content-wrapper ol.assignments-widget {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

li {
  &.assignment {
    background-color: var(--color-pcc-sup-ltgrey);
    border-top: 1px solid var(--color-primary);
    border-radius: 0px;
    margin: 0;
    margin-bottom: 15px;
    padding: 10px;
    transition: 0.3s;

    &:hover {
      transform: translate(0, -5px);
    }

    h2,
    h3,
    h4 {
      background-color: rgba(0, 0, 0, 0.03);
      font-size: 1.15em;
      font-weight: 600;
      margin: -10px -10px 10px -10px !important;
      padding: 5px 10px;
    }

    ol li,
    ul li {
      margin: 0;
    }

    p,
    ol,
    ul,
    .btn {
      font-size: 0.95em;
    }
  }
}

li.assignment {
  &::before,
  &::marker {
    content: none;
  }
}

@media screen and (min-width: 576px) {
  #content-wrapper li.assignment {
    flex-basis: 45%;
  }
}

@media screen and (min-width: 768px) {
  #content-wrapper li.assignment {
    flex-basis: 30%;
  }
}
