@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather:wght@400;700&family=Noto+Sans:wght@200;400;700&display=swap');

// PCC Brand Colors
$color-pcc-primary: rgba(4, 85, 148, 1);
$color-pcc-secondary: rgba(247, 144, 45, 1);
$color-pcc-tertiary: rgba(0, 174, 239, 1);
$color-pcc-black: rgba(0, 0, 0, 1);
$color-pcc-dkgrey: rgba(128, 128, 128, 1);
$color-pcc-ltgrey: rgba(227, 227, 227, 1);
$color-pcc-primary-hover: rgba(3, 64, 111, 1);
$color-pcc-secondary-hover: rgba(236, 119, 9, 1);
$color-pcc-tertiary-hover: rgba(0, 146, 199, 1);
$color-pcc-white: rgba(255, 255, 255, 1);

$max-width: 1200px;
$card-width: 300px;

* {
  margin: 0;
  padding: 0;
  border: 0;
}

.nav-container, .wrapper {
  max-width: $max-width;
}

// Typography
body {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Sans', sans-serif;
}

h1 {
  color: $color-pcc-primary-hover;
}

h2 {
  color: $color-pcc-primary;
  width: 100%;
  text-align: center;
}

h3 {
  color: $color-pcc-dkgrey;
  margin: 15px 0 5px;
}

a {
  display: block;
  text-decoration: none;
  color: $color-pcc-tertiary;

  &:hover {
    color: $color-pcc-tertiary-hover;
  }
}

// Navigation
nav {
  padding: 10px 0;
  background-color: rgba(175, 215, 230, 1);

  .nav-container {
    width: 90%;
    max-width: $max-width;
    margin: 0 auto;

    img {
      width: 50%;
      max-width: 200px;
    }
  }
}

// Header
header {
  padding: 50px 0;
  background-image: linear-gradient(rgba(175, 215, 230, 1) 5px, $color-pcc-white);

  .wrapper {
    width: 90%;
    max-width: $max-width;
    margin: 0 auto;

    .text-container {
      text-align: center;
      max-width: 350px;
      margin: 0 auto;
    }

    img {
      max-width: 350px;
      display: flex;
      margin: 50px auto 0;
    }
  }
}

//  Main content
main {
  width: 90%;
  max-width: $max-width;
  margin: 50px auto;

  .overview {
    margin: 20px auto 50px;

    p {
      text-align: center;
    }
  }

  .themes-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($card-width, 1fr));
    grid-gap: 20px;

    section {
      margin: 0 auto 20px;
      max-width: 400px;
      background-color: rgba(227, 227, 227, 0.3);
      border-radius: 10px;
      padding: 20px 0;

      h2 {
        text-align: center;
      }

      img {
        display: flex;
        margin: 0 auto 10px;
        max-width: 75px;
      }

      .link-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
      
        .template-items {
          list-style-type: none;
          width: 80%;

          &:first-child {
            margin-left: auto;
          }

          &:last-child {
            margin: 0 auto;
          }
        }
      }
    }
  }
}

// Footer
footer {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 200px;
  background-image: linear-gradient($color-pcc-white 50%, $color-pcc-ltgrey);
}

// Media queries
@media screen and (min-width: 768px) {
  header {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    overflow-x: clip;

    .wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      align-content: center;
      margin: 0 auto;
      position: relative;

      .text-container {
        text-align: left;
        margin-left: 0;
        flex-basis: 40%;
      }

      img {
        margin: 0 0 0 auto;
        max-width: 500px;
        position: absolute;
        left: 40%;
        width: 100%;
        top: -40%;
      }
    }
  }

  main {
    .themes-container {
      section {
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  header {
    height: 450px;

    .wrapper {
      img {
        max-width: 800px;
        left: 35%;
      }
    }
  }
}